%banner-image {
  height: 81vh;
  align-items: flex-end;
  display: flex;
  @media (min-width: 575px) {
    align-items: center;
  }
}

.activity-image__paris {
  @extend %home-image;
  background: url('@/../assets/images/activity--banner.png') no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-width: 575px) {
    background-position: center;
  }
}
/*Variables*/
$winston_blue: #133163;
// .activities {
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100vh;
//   width: 100vw;
//   z-index: 9999;
//   background-color: rgba($color: #000000, $alpha: 1);
// }
.activity {
  &--content {
    position: relative;
    transition: transform 0.2s;
    width: 85%;
  }
  &--image {
    width: 100%;
    border: 5px solid #fff;
    border-radius: 30px;
    cursor: pointer;
  }
  &-thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20%;
  }
  &--btn {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 15px;
    border: 0;
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
    padding: 0 0.5rem;
    &-first {
      background: $winston_blue !important;
    }
    &-second {
      background: red !important;
    }
    h6,
    p {
      margin: 0;
    }
    p {
      font-size: 11px;
    }
    h6 {
      text-transform: uppercase;
    }
  }
}
