@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'WinstonBold';
  src: url('@/../assets/fonts/WinstonBold.ttf');
}
@font-face {
  font-family: 'WinstonMedium';
  src: url('@/../assets/fonts/WinstonMedium.ttf');
}
@font-face {
  font-family: 'WinstonThin';
  src: url('@/../assets/fonts/WinstonThin.ttf');
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'WinstonBold';
  overflow-x: hidden;
  background: #fff;
  max-height: 100vh;
  max-width: 100vw;
}

.link {
  text-decoration: underline !important;
}

.link:hover {
  text-decoration: none !important;
}

/*Variables*/
$winston_blue: #133163;

%btn {
  display: block;
  margin: auto;
  width: 100%;
  padding: 8px;
  font-family: 'WinstonMedium';
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 20px;
}

%button {
  margin: auto;
  font-family: 'WinstonBold';
  color: #fff;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5 {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

p {
}

ul {
}

a {
  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    text-decoration: none;
  }
}

.banner {
  background: url('@/../assets/bg.png') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  .logo {
    padding: 35vh 0;
    text-align: center;
  }
}

// Loader
.loader {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  transition: all 0.5s ease;
}

.loader-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    :nth-child(2) {
      animation-delay: -0.5s;
    }
  }
}
.loader-cont {
  display: flex;
  height: 100%;
  align-items: center;
}

@keyframes loader-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

// #videojs-vr-player {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     min-width: 100%;
//     min-height: 100%;
// }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.login-cont {
  // background: #fff;
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  .login-title {
    position: relative;
    background: #fff;
    font-family: 'WinstonMedium';
    font-size: 2.1rem;
    color: $winston_blue;
    text-transform: uppercase;
    padding-top: 20px;
    margin: 0;
    z-index: 1;
  }
  .card-line {
    position: relative;
    width: 100%;
    margin-top: -18px;
    z-index: 0;
  }

  .login-form {
    background: #fff;
    padding: 0 35px 15px 35px;
    .form-control {
      border: 1px solid $winston_blue;
      border-radius: 10px;
      padding: 8px 15px;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 400;
      font-size: 18px;
      &::placeholder {
        color: $winston_blue !important;
      }
    }
    .forgot-password {
      a {
        color: $winston_blue;
        text-decoration: underline;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
    h2 {
      color: $winston_blue;
      text-align: center;
      font-family: 'WinstonMedium';
      font-size: 25px;
    }
    p {
      margin-top: 50px;
      color: $winston_blue;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 400;
      font-size: 1.1rem;
      margin-bottom: 0;
      line-height: 1;
      a {
        color: $winston_blue;
      }
    }
    .signup-title {
      margin-top: 0;
    }
    .submit-btn {
      @extend %btn;
      background: linear-gradient(
        90deg,
        rgba(158, 194, 180, 1) 0%,
        rgba(88, 178, 221, 1) 50%,
        rgba(160, 164, 231, 1) 100%
      );
    }
    .fb-btn {
      @extend %btn;
      background: #082d86;
    }
    .google-btn {
      @extend %btn;
      background: #df001a;
    }
    .line {
      display: block;
      margin: 25px 0 32px 0;
      h2 {
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid $winston_blue;
        position: relative;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 300;
        span {
          background-color: white;
          position: relative;
          top: 10px;
          padding: 0 10px;
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//Global Styles
.primary-btn {
  background: #df001a;
  background: linear-gradient(#da0a1e, #940002);
  padding: 3px 30px 0;
  letter-spacing: 0.075rem;
  @extend %button;
}

.primary-btn--seoul {
  box-shadow: 0px 0px 10px 3px #ff94b8, inset 0px 0px 0px 3px #ff94b8;
  border: 0;
  background: #000;
  padding: 3px 30px 0;
  letter-spacing: 0.075rem;
  margin: 2% 0 !important;
  @extend %button;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff94b8, 0 0 40px #ff94b8, 0 0 50px #ff94b8, 0 0 60px #ff94b8, 0 0 70px #ff94b8;*/
}

.col {
  &--two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
}
