.cue {
  width: 100%;
  padding: 20%;
  display: grid;
  place-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -18%;
  &__banner {
    img {
      width: 100%;
      position: relative;
    }
    @media (min-width: 576px) {
      margin-bottom: 0;
    }
  }
  &__bannerText {
    position: absolute;
    width: 38%;
    height: 15%;
    text-align: center;
    font-size: 1.2rem !important;
    overflow: hidden;
  }
}
