%faq-image {
  height: 80vh;
}

.faq {
  &--banner-image {
    @extend %faq-image;
    background: url('@/../assets/images/faq-bg.svg') no-repeat center;
    background-size: cover;
  }
  &--content {
    height: 150px;
    overflow-y: auto;
    font-size: 15px;
    font-family: 'WinstonThin';
    font-weight: 400;
  }
  &--box {
    h2 {
      text-align: center;
    }
    p {
      font-family: 'WinstonThin';
      a {
        color: #000;
      }
    }
  }
  &--container {
    padding: 15px 25px;
  }
}

table,
th,
td {
  border: 0.3px solid black;
  margin: 10px;
}

th,
td {
  padding: 5px;
}
