%banner-image {
  height: 81vh !important;
  align-items: flex-end;
  display: flex;
  @media (min-width: 575px) {
    align-items: center;
  }
}

%home-image {
  height: 87vh;
  display: flex;
  flex-direction: column;
  // @media (min-width: 575px) {
  //     align-items: center;
  // }
}

.bg_banner {
  @extend %banner-image;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 575px) {
    background-position: center;
  }
}

.banner-image__newyork {
  @extend %banner-image;
  background: url('@/../assets/images/banner-newyork.png') no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-width: 575px) {
    background-position: center;
  }
}

.banner-image__paris {
  @extend %banner-image;
  background: url('@/../assets/images/banner-paris.png') no-repeat;
  background-position: right;
  background-size: cover;
  @media (min-width: 575px) {
    background-position: center;
  }
}

.banner-image__seoul {
  @extend %banner-image;
  background: url('@/../assets/images/banner-seoul.png') no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-width: 575px) {
    background-position: center;
  }
}

.home-image__newyork {
  @extend %home-image;
  background: url('@/../assets/images/home-newyork.png') no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-width: 575px) {
    background-position: center;
  }
}

.home-image__paris {
  @extend %home-image;
  background: url('@/../assets/images/home-paris.png') no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-width: 575px) {
    background-position: center;
  }
}

.home-image__seoul {
  @extend %home-image;
  background: url('@/../assets/images/home-seoul.png') no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-width: 575px) {
    background-position: center;
  }
}

.title {
  &-card {
    text-align: center;
    // margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 812px) and (max-width: 850px) {
      padding: 60px;
    }
    img {
      width: 70%;
    }
    @media (min-width: 576px) {
      margin-bottom: 0;
      // padding: 5% 10%;
    }

    &__start {
      // margin-top: 3rem;
      // @media (min-width: 576px) {
      //   margin-top: 0.8rem;
      // }
      p {
        color: white;
        margin-top: 1.5rem;
        @media (min-width: 576px) {
          display: none;
          margin-top: 0;
        }
      }
    }
  }
}

.home-btn {
  display: block;
  margin: auto;
  width: 100%;
  font-family: 'WinstonMedium';
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  // background: #000;
  width: initial;
  padding: 10px 20px;
  img {
    width: 56px;
    margin-top: -9px;
  }
}
.location {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999999;
  background-color: rgba($color: #000000, $alpha: 0.4);
  // background-color: red;
}
.home-locations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  z-index: 9998;
  // background-color: red;

  div {
    z-index: 999;
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }
  &--image {
    width: 100%;
    height: auto;
  }
}

.video--box {
  grid-gap: 50px;
  min-height: 150px;
  @media (max-width: 575px) {
    min-height: 200px;
  }
  &__first {
    border: 2px solid #df001a;
  }
  &__second {
    border: 2px solid #082d86;
    @media (max-width: 575px) {
      display: none;
    }
  }
}

.carousel {
  padding: 27px 0;
  @media (max-width: 575px) {
    padding: 50px;
  }
}

.title-card__seoul {
  .vueperslide__title {
    display: none;
  }
}

.title-card__paris {
  .vueperslide__content-wrapper {
    justify-content: flex-end !important;
  }
  .vueperslides__arrow {
    margin-top: 0;
  }
}

.numberCircle {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
}

.numberCircle span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin: 0 8px;
}

.progress {
  width: 80%;
  margin: 0 auto;
  height: 1rem;
  position: relative;
  background: #ffffff;
}

.progress .progress_inner {
  position: absolute;
  width: 75%;
  height: 100%;
  background-color: #0909ed !important;
  background: -webkit-linear-gradient(to left, blue 0%, blue 30%, blue 45%, blue 50%, blue 60%, blue 70%, blue 100%);
  background: linear-gradient(to left, blue 0%, blue 30%, blue 45%, blue 50%, blue 60%, blue 70%, blue 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 5.25s;
  animation-duration: 5.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
