@media (min-width: 1580px) {
}

@media (max-width: 1378px) {
}

@media (max-width: 1378px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1180px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
}

@media (max-width: 375px) {
}

@media (min-width: 1024px) {
  #location-video,
  #home,
  #location,
  #nav {
    max-width: 700px;
  }
  #login,
  #app {
    max-width: 375px;
  }
}
