.home {
  &--footer {
    background: black;
    z-index: -1;
    div p {
      color: white;
    }
  }
}

.menu {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1% 0;
  }
  &--details {
    h2,
    p {
      margin-bottom: 0;
    }
  }
  &--icons {
    display: flex;
    justify-content: space-evenly;
    grid-gap: 7px;
    h3,
    h4 {
      margin-bottom: 0;
      line-height: 1rem;
    }
    img {
      width: auto;
      height: 27px;
    }
  }
  &--logo {
    img {
      width: 90%;
      height: auto;
    }
  }
  &--tab {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #f1f0f5;
    display: flex;
    border-radius: 18px;
    justify-content: space-between;
    width: 395px;
    @media (max-width: 575px) {
      width: 100%;
      flex-direction: column;
      grid-gap: 20px;
    }
    a {
      color: #133163;
      opacity: 0.5;
      text-decoration: none;
      &.active {
        background: #133163;
        color: #fff;
      }
      &.router-link-active {
        background: #133163;
        color: #fff;
        border-radius: 18px;
        opacity: 1;
      }
    }
    li {
      font-size: 0.8rem;
      text-transform: uppercase;
      padding: 5px 28px;

      &:hover {
        border: 1px solid #133163;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      }
    }
  }
  &--back-option {
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

p.back-to-options {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 13px;
  color: #000000;
  margin-bottom: 0;
}

.back-options {
  gap: 5px;
}

.menu-list a li {
  margin-bottom: 0 !important;
}
