.microsite-cont {
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
  .card-line {
    position: relative;
    width: 100%;
    margin-top: -17px;
    z-index: 0;
    img {
      vertical-align: middle;
    }
  }

  .microsite-form {
    position: relative;
    p {
      margin-top: 70px;
      color: $winston_blue;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1;
      text-align: center;
      a {
        color: $winston_blue;
      }
    }
    .submit-btn {
      @extend %btn;
      width: 70%;
      background: linear-gradient(
        90deg,
        rgba(158, 194, 180, 1) 0%,
        rgba(88, 178, 221, 1) 50%,
        rgba(160, 164, 231, 1) 100%
      );
    }
  }
}

.cities {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;

  img {
    margin-bottom: -100px;
    z-index: 99999;
  }
}

.steps {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 20px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  p {
    color: #133163;
    font-size: 1.1rem;
    font-family: 'Barlow Condensed', sans-serif;
  }
  img {
    margin-bottom: -40px;
  }
}

.white-bg {
  background: #fff;
  padding: 0 38px;
}
