@mixin breakpoint($orientation) {
  @if $orientation == portrait {
    @media (min-width: 481px) and (max-width: 812px) and (orientation: landscape) {
      @content;
    }
  } @else if $orientation == landscape {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  }
}
