// NEW YORK
.newyork-frame {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  margin-bottom: 1.8rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  .locations-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: 70%;
    padding: 25% 0.25rem;
    position: relative;
    margin-left: 8%;
    margin-top: 2px;
  }

  .locations-name {
    color: #fff;
    width: 100%;
    position: absolute;
    top: 24%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    z-index: 9998;
  }

  .locations-imageContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .locations-pic {
    width: 100%;
    height: 100%;
    border-radius: 1px;
    object-fit: fill;
  }
}

// PARIS
.paris-frame {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  height: 100%;
  padding-top: 15%;
  transition: transform 0.2s;
  margin-bottom: 1.8rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  .locations-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 77%;
    height: 45%;
    padding: 0.5rem 0.25rem;
    position: relative;
  }

  .locations-name {
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 125%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    z-index: 9998;
  }

  .locations-imageContainer {
    width: 100%;
    height: 100%;
    margin-top: 28%;
    margin-left: 15%;
    position: relative;
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .locations-pic {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;
  }
}

// SEOUL
.seoul-frame {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 80%;
  padding-top: 12%;
  transition: transform 0.2s;
  margin-bottom: 1.8rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }

  .locations-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 83%;
    height: 47%;
    padding: 4% 4.4%;
    position: relative;
    margin-left: 4.5%;
  }

  .locations-name {
    color: #fff;
    width: 100%;
    // text-align: center;
    position: absolute;
    top: 20%;
    left: 69%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    z-index: 9998;
  }

  .locations-imageContainer {
    width: 111%;
    height: 116%;
    margin-top: 24.8%;
    margin-left: 0.4%;
    position: relative;
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .locations-pic {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    object-fit: cover;
  }
}

.nav-timebar-seoul {
  margin-top: -15%;
}

.nav-timebar-paris {
  margin-top: -11%;
}
.nav-timebar-nyc {
  margin-top: -20%;
}
