.goto-btn {
  @extend %btn;
  background: #133163;
  width: 100%;
  display: block;
  padding: 8px 35px;
  font-size: 17px;
}

.ok-btn {
  @extend %btn;
  background: #133163;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.quit-btn {
  @extend %btn;
  background: none;
  border: 2px solid #133163;
  width: 116px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: #133163;
}

.unlocked-city-btn {
  @extend %btn;
  background: #0047ba;
  width: 152px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 17px;
  position: absolute;
  bottom: -20px;
}

.unlocked-city-btn:focus {
  background: #133163;
}

.play-again-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.play-again {
  margin-bottom: 17px;
  margin-left: 3px;
}

.profile-locations {
  padding-bottom: 2rem;
}

.profile-locations-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 15px;
  width: 100%;
}

.locked-city-btn {
  @extend %btn;
  background: none;
  border: 1px solid #fff;
  width: 109px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 17px;
  margin: 10px 20px;
}

.checklist-btn {
  @extend %btn;
  background: #133163;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1%;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.d-flex {
  display: flex;
}

@media only screen and (orientation: portrait) {
  .landscape {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
