%profile-image {
  height: 100%;
}

.profile {
  &--banner-image {
    @extend %profile-image;
    background: url('@/../assets/images/checklist-map.png') no-repeat top;
    background-size: cover;
  }
  &--grid {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  &--container {
    margin-top: 5rem;
  }
  &--box {
    background: whitesmoke;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    div p {
      margin-bottom: 0;
      font-size: 12px;
      font-family: 'WinstonThin';
      font-weight: 400;
      color: #133163;
    }
  }
  &--avatar {
    position: absolute;
    width: 75%;
    top: -55px;
  }
}
