.tutorial {
  position: fixed;
  top: -20%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  background-color: rgba(49, 49, 49, 0.9);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.tutorial-vid {
  display: flex;
  flex-direction: column;
  position: relative;
}

.skip {
  position: absolute;
  right: 1%;
  bottom: 28%;
  z-index: 9999999;
  padding: 3px 20px 0;
}

.footer-container {
  bottom: -20%;
  z-index: 99999;
}

.teaser {
  width: 70vw !important;
}
