.winners {
  &--date {
    list-style: none;
    padding: 0;
    height: 110px;
    overflow-y: scroll;
    a {
      background: #f1f0f5;
      display: flex;
      padding: 3px 5px;
      width: 100%;
      // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 3px 0 0 rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 8px 6px -6px #ccc;
      -moz-box-shadow: 0 8px 6px -6px #ccc;
      box-shadow: 2px 9px 6px -6px #ccc;
      justify-content: flex-end;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      margin: 2px 0;
      text-decoration: none;
      &:focus {
        background: #133163;
        li {
          color: #fff;
        }
      }
      li {
        padding: 3px 15px;
        border-radius: 30px;
        color: #133163;
        text-decoration: none;
        font-size: 13px;
        // &:focus {
        //   background: #133163;
        //   color: #fff;
        // }
      }
    }
  }
  &--grid {
    display: grid;
    grid-template-columns: 150px auto;
  }
  &--content {
    margin-left: -25px;
  }
  &--box-container {
    height: 110px;
    overflow-y: scroll;
  }
  &--profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding-left: 0;
    li {
      display: flex;
      align-content: center;
      img {
        width: 18%;
        margin-right: 5%;
      }
      margin-bottom: 10px;
    }
  }
  &--details {
    h6,
    p {
      margin-bottom: 0;
    }
    p {
      font-family: 'WinstonThin';
      text-align: left;
      font-size: 12px;
    }
  }
  &--gap {
    gap: 33px;
  }
  &--box {
    &-title {
      text-align: center;
    }
    &-subtitle {
      font-family: 'WinstonThin';
      text-align: center;
      a {
        color: #000;
      }
    }
  }
}

.winners-tba {
  font-family: 'Barlow Condensed', sans-serif;
  color: #4d4d4d;
  margin: auto;
  font-size: 17px;
  opacity: 0.6;
}
