<template>
  <div id="faq" class="landscape">
    <div class="faq--banner-image">
      <Menu></Menu>
      <div class="container-fluid faq--container">
        <div class="back-options d-flex" style="align-items: flex-start">
          <div class="d-flex menu--back-option" @click="resume">
            <img class="checklist-back-icon" @click="closeModal" src="./../assets/images/back-icon.svg" />
            <p class="back-to-options">Resume gameplay</p>
          </div>
        </div>
        <div class="faq--box">
          <h2>Mechanics</h2>
          <div class="faq--content">
            <strong>I. GENERAL TERMS AND CONDITIONS</strong>
            <p>
              A. The Where to Next? Winston Promotion website is open only to existing adult smokers 18 years old and
              above, residing in the Philippines and age-verified members of the Winston adult smoker database
              ("Verified Members"). This Promotion shall run from January 4 – June 30, 2022 <strong>(Extended)</strong>.
            </p>
            <p>
              To be a Verified Member, an adult smoker must register through Winston.ph/WheretoNextWinston (“Website”).
              An adult smoker 18 years old and above must:
            </p>
            <ol>
              <li>Completely fill out the registration form and provide true and accurate information.</li>
              <li>
                Registration is only considered completed if the user has undergone full verification. To fully complete
                the registration, the individual must:
              </li>
              <ul>
                <li>fill out the required profile and contact information, specifically --</li>
                <ul>
                  <li>First and last name as it appears on valid Government Issued ID (GIID)*</li>
                  <li>Mobile Number</li>
                  <li>Sex / Orientation</li>
                  <li>Birthdate (month / day / year)*</li>
                  <li>Location (city / province)*</li>
                </ul>
                <li>
                  Successfully upload a valid Government Issued ID (“GIID”) as proof of age and successfully pass age
                  verification screening confirming that he/she is of legal age (18 years old and above). Acceptable
                  valid GIIDs as proof of age are: Passport, Driver’s License, NBI Clearance Card, Philhealth ID, Postal
                  ID, PRC ID, SSS ID, TIN ID, Unified Multi-Purpose ID, Alien Certificate of Registration, or Voter’s
                  ID.
                </li>
              </ul>
              <li>
                Individuals may not register on the WinstonPH website on behalf of another person, and may only
                represent themselves.
              </li>
            </ol>
            <p>
              B. JTI reserves the right to modify, change, or revise the rules and mechanics of the Promotions happening
              within the Where to next, Winston microsite and Winston.ph website.
            </p>
            <p>
              C. JTI reserves the right to hold, suspend, disqualify or block a Verified Member’s account or disqualify
              and terminate his/her participation in the Promotions due to suspicious activity, fraud or any irregular
              or illegal activity.
            </p>
            <p>
              D. JTI reserves the right to cancel, amend, or revoke these terms and conditions without notice in the
              event of fraudulent activity, cheating, a security breach or any anticipated breach of any applicable law
              or regulation, an event or disturbance outside of JTI’s control such as acts of God, civil or military
              events, catastrophes, technical issues/connectivity, pandemic or war. Any changes to the Promotions will
              be announced accordingly.
            </p>
            <p>
              E. Minor raffle draws will happen every 2 weeks from the start of the promo. Major draw will take place during the last day of the promo.
            </p>
            <table>
              <tr>
                <th>RAFFLE DRAW</th>
                <th>DATES</th>
                <th>PRIZES</th>
                <th>NO. OF WINNERS</th>
              </tr>
              <tr>
                <td rowspan="3">1st Draw</td>
                <td rowspan="3">January 29, 2022</td>
                <td>Grocery Voucher (P2,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>5</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>5</td>
              </tr>

              <tr>
                <td rowspan="4">2nd Draw</td>
                <td rowspan="4">February 12, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>3</td>
              </tr>

              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>6</td>
              </tr>

              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>10</td>
              </tr>

              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>15</td>
              </tr>

              <tr>
                <td rowspan="4">3rd Draw</td>
                <td rowspan="4">February 26, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>10</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>30</td>
              </tr>

              <tr>
                <td rowspan="4">4th Draw</td>
                <td rowspan="4">March 12, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>10</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>50</td>
              </tr>

              <tr>
                <td rowspan="4">5th Draw</td>
                <td rowspan="4">March 26, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>7</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>12</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>60</td>
              </tr>

              <tr>
                <td rowspan="4">6th Draw</td>
                <td rowspan="4">April 9, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>5</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>30</td>
              </tr>

              <tr>
                <td rowspan="4">7th Draw</td>
                <td rowspan="4">April 23, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>5</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>45</td>
              </tr>

              <tr>
                <td rowspan="4">8th Draw</td>
                <td rowspan="4">May 7, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>4</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>30</td>
              </tr>

              <tr>
                <td rowspan="4">9th Draw</td>
                <td rowspan="4">May 21, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>4</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>30</td>
              </tr>

              <tr>
                <td rowspan="4">10th Draw</td>
                <td rowspan="4">June 4, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>4</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>40</td>
              </tr>

              <tr>
                <td rowspan="4">11th Draw</td>
                <td rowspan="4">June 18, 2022</td>
                <td>Luggage and Bag GC (P10,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Grocery Voucher (P2,000)</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Food Delivery Voucher (P1,000)</td>
                <td>6</td>
              </tr>
              <tr>
                <td>E-Cash Voucher (P1,000)</td>
                <td>40</td>
              </tr>

              <tr>
                <td rowspan="5">Major Draw</td>
                <td rowspan="5">June 30, 2022</td>
                <td>Ford Eco Sport</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Tablet Computer</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Smart Watch</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Action Camera</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Drone</td>
                <td>3</td>
              </tr>
            </table>
            <p>
              F. Confirmation notices and/or messages will be sent to the Verified Member’s email address and/or mobile
              number as registered in the Website. It is the responsibility of the Verified Member to update his/her
              personal details in the Website to ensure timely receipt of the confirmation notice or message. JTI shall
              not be liable for any failure to redeem or use any prize, and will not refund any deducted points, due to
              non-receipt by the Verified Member of the confirmation notice or message, if sent to his/her registered
              email address or mobile number.
            </p>
            <p>
              G. Activities, promotion/s and/or campaigns presented in this Website do not serve as a prompt or request,
              direct or indirect, for user to share any content through any social media channels.
            </p>
            <p>
              H. Employees of JTI, TWA\SMP, Dentsu, or any of its related partners for this draw, their relatives up to
              the second degree of consanguinity or affinity and any other party who are directly involved in
              organizing, promoting or conducting the draw are not eligible to join the promo.
            </p>
            <p>
              I. By participating in the ‘Promotions, within the Where To Next, Winston microsite, winners agree to
              cooperate with and participate in any advertising or publicity activities of JTI relating to the promo.
            </p>
            <p>
              J. The winner agrees that JTI may publicize the name and/or username and avatar of the winner in such mode
              and manner as JTI considers fit.
            </p>
            <p>
              K. By accepting the prize, the winner agrees to hold JTI free and harmless from any loss, injury, or
              damage caused by or arising from his/her participation in the program or caused by or arising from his/her
              acceptance and/or use of the prize.
            </p>
            <p>
              L. Issuance of rewards, notifications, and electronic or website - related activities are subject to
              possible delays.
            </p>
            <p>
              M. Tobacco products are not for sale to minors. Government Warning: Cigarette Smoking is Dangerous to Your
              Health.
            </p>
            <br />

            <strong>II. A MECHANICS: WHERE TO NEXT, WINSTON? PROMOTION</strong>
            <div>
              <p>
                A. To join the Where to Next, Winston? Promotion, participants must purchase the Winston City Travel
                Limited Edition packs, scan the QR inside the pack, and play the VR experience to earn raffle entries.
                Raffle entries can be earned by reaching a destination through a unique path or completing activities
                specified in the gameplay. Below is the the list of actions that each Participant can do to earn raffle
                entries:
              </p>
              <ul>
                <li>Reach a designated end destination per city by going through a unique path</li>
                <li>Open a new City. There are 3 cities in total.</li>
              </ul>
            </div>
            <table>
              <tr>
                <th>CITIES</th>
                <th>DAY LOCATIONS WITH RAFFLE TICKET</th>
                <th>NIGHT LOCATIONS WITH RAFFLE TICKET</th>
                <th>TOTAL NUMBER OF RAFFLE ENTRIES</th>
              </tr>
              <tr>
                <td>NEW YORK</td>
                <td>10</td>
                <td>10</td>
                <td>20</td>
              </tr>
              <tr>
                <td>PARIS</td>
                <td>10</td>
                <td>10</td>
                <td>20</td>
              </tr>
              <tr>
                <td>SEOUL</td>
                <td>10</td>
                <td>10</td>
                <td>20</td>
              </tr>
            </table>
            <p>
              B. Once the location identified is reached, a Participant can no longer earn raffle entries by reaching
              the same unique path leading to that location, e.g. reaching the same location using the same route that
              you previously went through several times will not give you extra raffle entries.
            </p>
            <p>
              C. Being a Participant and/or earning raffle entries does not guarantee that user will be able to claim
              rewards.
            </p>
            <p>
              D. New paths may be added to this list, from time to time during the Promotion Period, which will be
              released on the Website.
            </p>
            <p>
              E. Minor raffle draws will happen every 2 weeks from the start of the promo. Grand draw will take place
              during the last day of the promo.
            </p>
            <table>
              <tr>
                <th>CITY TRAVEL LIMITED EDITION PACKS</th>
                <th>DRAW DATES</th>
              </tr>
              <tr>
                <td>1st Minor Draw</td>
                <td>January 29, 2022</td>
              </tr>
              <tr>
                <td>2nd Minor Draw</td>
                <td>February 12, 2022</td>
              </tr>
              <tr>
                <td>3rd Minor Draw</td>
                <td>February 26, 2022</td>
              </tr>
              <tr>
                <td>4th Minor Draw</td>
                <td>March 12, 2022</td>
              </tr>
              <tr>
                <td>5th Minor Draw</td>
                <td>March 26, 2022</td>
              </tr>
              <tr>
                <td>6th Minor Draw</td>
                <td>April 9, 2022</td>
              </tr>
              <tr>
                <td>7th Minor Draw</td>
                <td>April 23, 2022</td>
              </tr>
              <tr>
                <td>8th Minor Draw</td>
                <td>May 7, 2022</td>
              </tr>
              <tr>
                <td>9th Minor Draw</td>
                <td>May 21, 2022</td>
              </tr>
              <tr>
                <td>10th Minor Draw</td>
                <td>June 4, 2022</td>
              </tr>
              <tr>
                <td>11th Minor Draw</td>
                <td>June 18, 2022</td>
              </tr>
              <tr>
                <td>Major Draw</td>
                <td>June 30, 2022</td>
              </tr>
            </table>
            <p>
              F. Draw dates are subject to change on account of, among others, health and safety, public interest, and
              varying quarantine restrictions as mandated by government authorities. The general public shall be
              informed of any changes by announcements posted in the microsite or other suitable means.
            </p>
            <p>
              G. Cut-off time for minor raffle draw entries is at 11:59pm (server time) of the day before the minor
              draw. Cut off time for major raffle draw entry is 11:59pm (server time) on June 28.
            </p>
            <p>
              H. Winners will be selected randomly. A participant can only be picked once and win once per minor draw.
              All non-winning raffle entries during the minor draws are still eligible for the major draw.
            </p>
            <p>
              I. Once raffle entries are picked in the minor draws, these will be deducted from the Participant’s total
              accumulated raffle entries.
            </p>
            <p>J. Announcement of Where to next, Winston Promotion winners.</p>
            <ul>
              <li>For winners, notifications will be sent via SMS</li>
              <li>
                List of winners will also be posted in age-gated brand dedicated platforms and the WinstonPH promo page
              </li>
            </ul>
            <p id="rewards" ref="rewardsRef">K. Rewards to be given away are as follows:</p>
            <table>
              <tr>
                <th>Category</th>
                <th>Brands</th>
              </tr>
              <tr>
                <td>MAJOR</td>
              </tr>
              <tr>
                <td>Car</td>
                <td>Ford Eco-sport</td>
              </tr>
              <tr>
                <td>Game Console</td>
                <td>Playstation 5</td>
              </tr>
              <tr>
                <td>Smart Watch</td>
                <td>Apple Watch</td>
              </tr>
              <tr>
                <td>Action Camera</td>
                <td>Go Pro Hero 9</td>
              </tr>
              <tr>
                <td>Drone</td>
                <td>DJI Mini 2 - Drone</td>
              </tr>
              <tr>
                <td>MINOR</td>
              </tr>
              <tr>
                <td>Luggage and Bags</td>
                <td>Travel Club Gift Certificate</td>
              </tr>
              <tr>
                <td>Groceries</td>
                <td>SM vouchers</td>
              </tr>
              <tr>
                <td>Grabfood/car/mart voucher</td>
                <td>Grab Voucher</td>
              </tr>
              <tr>
                <td>GCash Voucher</td>
                <td>GCash Voucher</td>
              </tr>
            </table>
            <p>
              L. Winners will be selected randomly. A participant can only be picked once and win once per minor draw.
              All non-winning raffle entries during the minor draws are still eligible for the major draw.
            </p>
            <p>
              M. Once raffle entries are picked in the minor draws, these will be deducted from the Participant’s total
              accumulated raffle entries.
            </p>
            <p>N. Announcement of Where to next, Winston Promotion winners.</p>
            <ul>
              <li>For winners, notifications will be sent via SMS</li>
              <li>
                List of winners will also be posted in age-gated brand dedicated platforms and the WinstonPH promo page
              </li>
            </ul>
            <p>
              O. Winners of minor prizes will be notified within 7 days after the draw date via sms with steps on how to
              redeem the prize.
            </p>
            <p>
              P. For major prizes that will require physical redemption, a JTI authorized representative will reach out
              to the winner through the registered mobile number to discuss the process and details of redemption.
            </p>
            <p>
              Q. Upon Participant’s receipt of corresponding voucher/s, the reward is considered claimed. JTI is no
              longer liable for sent out digital voucher/s. Use digital voucher is subject to the terms and conditions
              of Sharetreats.
            </p>
            <p>
              R. The prizes are non-transferable nor convertible to cash or other products. All vouchers are not
              transferrable and will be dispensed by partner "Sharetreats" and subject to Share treats and participating
              merchants' terms and conditions.
            </p>
            <p>
              S. Prior to awarding the prize, JTIP reserves the right to declare a drawn winner ineligible or
              disqualified should any of the details in the entry be unverifiable or proven to be false, as confirmed by
              JTIP’s and the third-party representatives.
            </p>
            <p>
              Except as otherwise expressly provided, JTIP shall not shoulder any costs, expenses, taxes, and fees of
              any kind related to the implementation of this Promo. JTI reserves the right to:
            </p>
            <ul>
              <li>
                modify, or change the mechanics of the Promo. Any such change shall be communicated to the existing
                adult smokers accordingly.
              </li>
              <li>
                amend or cancel the Promo without notice should there be any event of cheating, fraud, security or data
                breach (or threatened breach), violation of applicable laws or regulations, or an event considered as
                force majeure (such as, but not limited to, acts of God, technical issues, pandemic, civil unrest, coup
                d’etat or military takeover, and/or any events which are beyond the reasonable control of JTI). Any
                change in the Promo shall be communicated to the target participants and retailers as soon as reasonably
                possible.
              </li>
            </ul>
            <p>
              T. All decisions of JTIP and/or its third-party service providers regarding the interpretation or
              implementation of these mechanics are final and unappealable.
            </p>
            <p>U. By joining the Promotion, each Promo Participant confirms that:</p>
            <ul>
              <li>he/she is an existing adult smoker residing in the Philippines aged 18 years old or above;</li>
              <li>he/she has read and understood the mechanics of the Promo; and</li>
              <li>he/she agrees to be bound and to abide by the mechanics of this Promo.</li>
            </ul>
            <p>
              V. This Promo is being conducted pursuant to Republic Act No. 9211, otherwise known as the Tobacco
              Regulation Act of 2003; IAC-T Memorandum Circular No. 1, Series of 2004, otherwise known as the Rules and
              Regulations Implementing Republic Act No. 9211; and other relevant laws.
            </p>
            <p>
              This Promo material shall only be displayed in this Winston.ph age-gated website and other age-gated
              platforms as required under the Tobacco Regulation Act of 2003 and applicable rules and regulations.
            </p>
            <p>Tobacco products are not for sale / distribution to minors.</p>
          </div>
        </div>
      </div>
    </div>
    <TermsAndConditions />
  </div>
</template>

<script>
import TermsAndConditions from '../../src/components/TermsAndConditions.vue';
import Menu from '../../src/components/Menu.vue';
import { onMounted, ref, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
export default {
  name: 'Faq',
  components: {
    TermsAndConditions,
    Menu,
  },
  setup() {
    const store = useStore();
    const rewardsRef = ref(null);
    const router = useRouter();
    const userCurrentLocation = computed(() => store.state['user'].userCurrentLocation);

    const onLoad = async () => {
      await store.dispatch('getUser');
    };

    const resume = async () => {
      await store.dispatch('getLocations', {
        id: userCurrentLocation.value.location_id,
      });
      router.push({
        name: 'LocationVideo',
      });
    };

    onMounted(() => {
      const { currentRoute } = router;
      const { hash } = currentRoute.value;
      if (hash === '#rewards') {
        rewardsRef.value.scrollIntoView();
      }
    });
    onLoad();
    return {
      rewardsRef,
      resume,
    };
  },
};
</script>

<style lang="scss">
td, th {
  border: 1px solid #000
}
</style>
