<template>
  <LoadingSpinner v-if="isLoading" />
  <div v-else id="home" class="landscape">
    <ScanModal v-if="scanModal" :isModalShown="scanModal" @close="closeScanModal" />
    <div :style="{ 'background-image': `url(${userCurrentCity?.background_url})` }" class="bg_banner">
      <div class="container">
        <div class="title-card">
          <img :src="userCurrentCity?.banner_url" alt="New York Title Card" />
          <div>
            <div class="text-center title-card__start">
              <button
                class="primary-btn"
                v-on:click="goToLocation()"
                :class="[userCurrentCity?.name?.toLowerCase() === 'seoul' ? 'primary-btn--seoul' : '']"
                :style="[userCurrentCity?.name?.toLowerCase() === 'paris' ? 'border: 0' : '']"
              >
                START
              </button>
              <p>Tilt your phone to have the best experience!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <TermsAndConditions />
  </div>
</template>

<script>
import TermsAndConditions from '../../src/components/TermsAndConditions.vue';
import ScanModal from '../../src/components/ScanModal.vue';
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import LoadingSpinner from './../components/LoadingSpinner.vue';
import { ref } from 'vue';

export default {
  name: 'Home',
  components: {
    TermsAndConditions,
    LoadingSpinner,
    ScanModal,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const tutorialModal = ref(true);
    const scanModal = ref(false);

    const userCurrentCity = computed(() => store.state['user'].userCurrentCity);
    const isLoading = computed(() => store.state['user'].isUserApiLoading);
    const userCurrentLocation = computed(() => store.state['user'].userCurrentLocation);
    const location = computed(() => store.state['locations'].location);

    const closeScanModal = () => {
      scanModal.value = false;
    };

    const goToLocation = async () => {
      let payload = {};
      if (userCurrentLocation.value && Object.keys(userCurrentLocation.value).length > 0) {
        payload = {
          id: userCurrentLocation.value.location_id,
        };
      } else {
        payload = {
          city_id: userCurrentCity.value.id,
          parent: 'null',
        };
      }

      await store.dispatch('getCities', { id: userCurrentCity.value.id });
      await store.dispatch('getLocations', payload);
      return router.push({
        name: 'LocationVideo',
      });
    };
    const onLoad = async () => {
      await store.dispatch('getUser');
      await store.dispatch('getUserEntries');
      if (!userCurrentCity.value) {
        router.push({
          name: 'Microsite',
        });
      }
    };
    onLoad();
    return {
      isLoading,
      location,
      userCurrentLocation,
      userCurrentCity,
      tutorialModal,
      goToLocation,
      closeScanModal,
      scanModal,
    };
  },

  // created() {
  //   this.$store.dispatch('getUser');
  // },
};
</script>

<style lang="scss"></style>
