<template>
  <transition name="fade" v-if="isLoading">
    <div class="container">
      <div class="logo"></div>
    </div>
  </transition>
  <div v-else id="landingpage" class="landscape">
    <div :style="{ 'background-image': `url(${currentCity?.background_url})` }" class="bg_banner">
      <div class="container">
        <div class="title-card">
          <img :src="currentCity?.banner_url" alt="New York Title Card" />
          <div style="width: 100vw; height: 100vh; margin-top: -20%">
            <Tutorial />
          </div>
        </div>
      </div>
    </div>
    <TermsAndConditions />
  </div>
</template>

<script>
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import TermsAndConditions from '../../src/components/TermsAndConditions.vue';
import Tutorial from '../../src/components/Tutorial.vue';
import { useLocalStorage } from '../utils/localStorage';
import { useAuth } from '../composable/useAuth';
import { userCurrentCityService } from '@/services/userCurrentCityService';

export default {
  components: {
    TermsAndConditions,
    Tutorial,
  },
  setup() {
    const router = useRouter();
    const store = useStore();
    const { setLocalStorage } = useLocalStorage();
    const { isAuthenticated } = useAuth();
    const tutorialModal = ref(true);
    const queryParams = router.currentRoute.value.query;
    const getCities = computed(() => store.state['city'].cities);
    const currentCity = computed(() => getCities.value[0]);
    const isCityLoading = computed(() => store.state['city'].isCityLoading);
    const isUserLoading = computed(() => store.state['user'].isUserApiLoading);

    const isLoading = computed(() => isCityLoading.value || isUserLoading.value);

    const onLoad = async () => {
      const cityCode = queryParams.city_code;
      await store.dispatch('getCities', {
        code: cityCode,
      });
      if (currentCity.value) {
        setLocalStorage('city_code', cityCode);
      }
      if (isAuthenticated) {
        await store.dispatch('userUnlockedCity', {
          code: cityCode,
        });
        const isUnlockedCity = computed(() => store.state['user'].isUnlockedCity);
        if (isUnlockedCity.value) {
          await userCurrentCityService.changeUserCurrentCity({ city_id: currentCity?.value?.id });
          await store.dispatch('changeUserSavedLocation', {
            city_id: currentCity?.value?.id,
          });
          return router.push({
            name: 'Home',
          });
        }
      }
    };
    onLoad();
    return {
      tutorialModal,
      currentCity,
      isLoading,
    };
  },
};
</script>

<style scoped lang="scss"></style>
