<template>
  <div id="location" :class="getHomeImage(currentCity)" v-if="loadingDone">
    <Menu :location="currentCity"></Menu>
    <Video video="https://winston-vr.s3.ap-southeast-1.amazonaws.com/paris/Eiffel_Morning_trimmed_sample_HIRES.mp4" />
    <div class="container">
      <div class="home-locations mt-2">
        <div v-for="item in places" :key="item.id">
          <router-link :to="{ path: item.url.toLowerCase() }">
            <img
              :src="bannerBgImage(item.imageUrl)"
              alt="New York Title Card"
              class="home-locations--image"
              :style="[currentCity === 'paris' ? 'height: 93%' : 'height: auto']"
            />
          </router-link>
        </div>
      </div>
      <div>
        <Timebar @redirect="redirectToVideo" />
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
import Menu from '../../src/components/Menu.vue';
import Timebar from '../components/Timebar.vue';
import Video from '../components/Video.vue';
export default {
  name: 'Location',
  components: {
    Menu,
    Timebar,
    Video,
  },
  setup() {
    const store = useStore();

    let currentCity = computed(() => store.state['locations'].currentCity);
    return {
      currentCity,
    };
  },
  data() {
    return {
      loadingDone: true,
      places: [],
    };
  },
  methods: {
    setLocationImages(prop) {
      if (prop === 'newyork') {
        this.places = [
          {
            id: '1',
            imageUrl: require('@/assets/images/image-1.png'),
            url: 'location-video',
          },
          {
            id: '2',
            imageUrl: require('@/assets/images/image-2.png'),
            url: 'location-video',
          },
        ];
      } else if (prop === 'paris') {
        this.places = [
          {
            id: '3',
            imageUrl: require('@/assets/images/image-3.png'),
            url: 'location-video',
          },
          {
            id: '4',
            imageUrl: require('@/assets/images/image-4.png'),
            url: 'location-video',
          },
        ];
      } else {
        this.places = [
          {
            id: '5',
            imageUrl: require('@/assets/images/image-5.png'),
            url: 'location-video',
          },
          {
            id: '6',
            imageUrl: require('@/assets/images/image-6.png'),
            url: 'location-video',
          },
        ];
      }
    },
    redirectToVideo(value) {
      if (value) {
        //this.$router.push(this.places[0].url);
      }
    },
    getHomeImage(prop) {
      return prop === 'paris' ? 'home-image__paris' : prop === 'seoul' ? 'home-image__seoul' : 'home-image__newyork';
    },
    bannerBgImage(image) {
      return image;
    },
  },
  created() {
    this.setLocationImages(this.currentCity);
  },
};
</script>

<style></style>
