<template>
  <div id="location-video">
    <LoadingSpinner v-if="isLoading" />
    <WelcomeBanner v-if="showWelcomeBanner" @closeWelcomeBanner="closeWelcomeBanner" :city="currentCity" />
    <div v-else>
      <Menu :color="color" v-if="!isActivityShown && !isNavShown" />
      <Video
        :video="location?.location_videos[0]?.video_url"
        @eventOnVideoEnd="eventOnVideoEnd"
        @eventOnVideoPause="eventOnVideoPause"
        :isVideoPlaying="isVideoPlaying"
        @openPausedModal="openPausedModal"
      />
      <Activities v-if="isActivityShown" :activities="activities" @onActivityClose="onActivityClose" />
      <Cue v-if="isCueShown" @onCueClose="onCueClose" :city="currentCity" :location="location" />
      <Nav v-if="locationVideoOptions.length > 0 && isNavShown" @goToNextLocation="goToNextLocation" />
      <EntryModal v-else :isModalShown="entryModal" @close="getUserEntry" :location="location" />
      <PausedModal v-if="pausedModal" :isModalShown="pausedModal" @close="closePausedModal" :user="user"/>
      <div class="footer-container">
        <TermsAndConditions />
        <Footer class="home--footer" />
      </div>
    </div>
  </div>
</template>

<script>
import Video from '../components/Video.vue';
import Activities from '../components/Activities.vue';
import Cue from '../components/Cue.vue';
import Nav from '../components/Nav.vue';
import EntryModal from '../components/EntryModal.vue';
import PausedModal from '../components/PausedModal.vue';
import WelcomeBanner from '../components/WelcomeBanner.vue';
import Menu from '../components/Menu.vue';
import Footer from '../components/Footer.vue';
import TermsAndConditions from '../components/TermsAndConditions.vue';
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { getTime } from './../utils/getTime';
import { useActivity } from './../composable/useActivity';
import LoadingSpinner from '../components/LoadingSpinner.vue';

export default {
  name: 'LocationVideo',
  components: {
    Video,
    Activities,
    Nav,
    EntryModal,
    PausedModal,
    WelcomeBanner,
    Menu,
    Cue,
    LoadingSpinner,
    Footer,
    TermsAndConditions,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const { activity, setSelectedActivity } = useActivity();
    // Data
    const currentTime = getTime();
    const showWelcomeBanner = ref(false);
    const isActivityShown = ref(false);
    const isCueShown = ref(false);
    const isNavShown = ref(false);
    const pausedModal = ref(false);
    const entryModal = ref(false);
    const isGetEntry = ref(false);
    const isVideoPlaying = ref(true);
    const color = ref('none');
    // Computed
    const user = computed(() => store.state['user'].user);
    const userCurrentLocation = computed(() => store.state['user'].userCurrentLocation);
    const userCurrentCity = computed(() => store.state['user'].userCurrentCity);
    const userEntries = computed(() => store.state['userEntry'].userEntries);
    const location = computed(() => store.state['location'].locations[0]);
    const isLocationLoading = computed(() => store.state['location'].isLocationLoading);
    const isCityLoading = computed(() => store.state['city'].isCityLoading);
    const isUserLoading = computed(() => store.state['user'].isUserApiLoading);
    const isLoading = computed(() => isCityLoading.value || isUserLoading.value || isLocationLoading.value);
    const locationVideo = ref(location?.value?.location_videos[0].video_url);

    const isUserGetEntry = computed(() =>
      userEntries.value.some((entry) => entry.location_id === location?.value?.id && entry?.time === currentTime),
    );

    const isUserGetUnlockedEntry = computed(() =>
      userEntries?.value?.some((entry) => {
        return entry.location_id === location?.value?.id;
      }),
    );

    const cities = computed(() => store.state['city'].cities);
    const currentCity = computed(() => cities.value.filter((city) => city.id === userCurrentCity.value.id)[0]);
    const activities = computed(() => location.value.activities);
    const locationVideoOptions = computed(() => store.state['location'].locationOptions);
    const isEndOfPath = computed(() => locationVideoOptions?.value?.length <= 0);

    // Methods

    const onLoad = async () => {
      if (!user.value) {
        await store.dispatch('getUser');
      }
      if (!location.value) {
        return router.push({
          name: 'Home',
        });
      }
      const locationsOptionsPayload = {
        parent: location?.value?.id,
      };

      if (location?.value?.parent === null) {
        showWelcomeBanner.value = true;
        store.dispatch('userSaveLocation', {
          location_id: location?.value?.id,
        });
        store.dispatch('createUserLocationVisited', {
          location_id: location?.value?.id,
        });
      } else {
        showWelcomeBanner.value = false;
      }

      await store.dispatch('getLocationOptions', locationsOptionsPayload);
    };

    const closeWelcomeBanner = () => (showWelcomeBanner.value = false);
    const openPausedModal = () => {
      pausedModal.value = true;
      isVideoPlaying.value = false;
    };
    const closePausedModal = () => {
      pausedModal.value = false;
      isVideoPlaying.value = true;
    };
    const eventTimeUpdate1 = () => {
      isActivityShown.value = true;
    };
    const eventTimeUpdate2 = () => {
      isActivityShown.value = false;
    };

    const onActivityOpen = () => {
      isActivityShown.value = true;
    };

    const onActivityClose = async (act) => {
      setSelectedActivity(act);
      isActivityShown.value = false;
      isCueShown.value = true;
    };

    const moveFinishAction = async () => {
      entryModal.value = false;
      isNavShown.value = false;

      console.log('calling', isNavShown.value);

      await store.dispatch('deleteUserSaveLocation', {
        id: userCurrentLocation.value.id,
      });
      await store.dispatch('getLocations', {
        city_id: currentCity.value.id,
        parent: 'null',
      });
      const locationsOptionsPayload = {
        parent: location?.value?.id,
      };
      showWelcomeBanner.value = true;
      store.dispatch('userSaveLocation', {
        location_id: location?.value?.id,
      });
      store.dispatch('createUserLocationVisited', {
        location_id: location?.value?.id,
      });
      await store.dispatch('getLocationOptions', locationsOptionsPayload);
      await store.dispatch('getUserEntries');
      router.push({
        name: 'LocationVideo',
      });
    };
    console.log('is user get enrty', isUserGetEntry.value);
    const onCueClose = async () => {
      isCueShown.value = false;
      // if (isEndOfPath.value && isGetEntry.value) {
      //   await moveFinishAction();
      // } else if (location.value.parent === null && !isUserGetUnlockedEntry.value) {
      //   entryModal.value = true;
      // } else if (isEndOfPath.value) {
      //   entryModal.value = true;
      // } else {
      //   pausedModal.value = false;
      //   isNavShown.value = true;
      // }
      if (isEndOfPath.value && isUserGetEntry.value) {
        await moveFinishAction();
      } else if (!isUserGetEntry.value) {
        entryModal.value = true;
      } else {
        pausedModal.value = false;
        isNavShown.value = true;
      }
    };

    const eventOnVideoEnd = async () => {
      pausedModal.value = false;
      if (activities.value.length > 0) {
        onActivityOpen();
      } else {
        if (isEndOfPath.value && isUserGetEntry.value) {
          await moveFinishAction();
        } else if (!isUserGetEntry.value) {
          entryModal.value = true;
        } else {
          isNavShown.value = true;
        }
      }
    };
    const eventOnVideoPause = () => {
      // #TODO SET TO TRUE AFTER BUG TESTING
      pausedModal.value = true;
      isVideoPlaying.value = false;
    };

    // Go to Next and location and fetch location detail and get location options.
    const goToNextLocation = async (id) => {
      const locationPayload = {
        id,
      };
      const locationsOptionsPayload = {
        parent: id,
      };
      await store.dispatch('userSaveLocation', {
        location_id: id,
      });
      await store.dispatch('createUserLocationVisited', {
        location_id: id,
      });

      await store.dispatch('getLocations', locationPayload);
      await store.dispatch('getLocationOptions', locationsOptionsPayload);

      if (isEndOfPath.value) {
        isGetEntry.value = userEntries.value.some((entry) => entry.location_id === id && entry.time === currentTime);
      }
      isNavShown.value = false;
      // router.push('/location-video');
    };

    // Event -> Click Congrats Banner: Delete user save location, create new entry and redirect to home page.
    const finishCity = async () => {
      await store.dispatch('createUserEntry', {
        location_id: userCurrentLocation.value.location_id,
      });
      await moveFinishAction();
    };

    const getUnlockedCityEntry = async () => {
      await store.dispatch('createUserEntry', {
        location_id: location.value.id,
      });
      entryModal.value = false;
      isNavShown.value = true;
    };

    const getUserEntry = async () => {
      await store.dispatch('createUserEntry', {
        location_id: location.value.id,
      });

      if (locationVideoOptions.value.length <= 0) {
        await moveFinishAction();
      } else {
        entryModal.value = false;
        isNavShown.value = true;
      }
    };

    onLoad();

    return {
      user,
      location,
      locationVideo,
      activities,
      isActivityShown,
      isCueShown,
      isNavShown,
      pausedModal,
      entryModal,
      userCurrentLocation,
      locationVideoOptions,
      showWelcomeBanner,
      currentCity,
      isLoading,
      isEndOfPath,
      activity,
      isVideoPlaying,
      isUserGetUnlockedEntry,
      eventTimeUpdate1,
      eventTimeUpdate2,
      goToNextLocation,
      eventOnVideoEnd,
      eventOnVideoPause,
      finishCity,
      getUnlockedCityEntry,
      onActivityClose,
      closePausedModal,
      openPausedModal,
      closeWelcomeBanner,
      onCueClose,
      getUserEntry,
      color,
    };
  },
};
</script>

<style>
.menu {
  position: sticky;
  z-index: 99;
}

.footer-container {
  position: absolute;
  /* bottom: -20% !important; */
  overflow: hidden;
  width: 100vw;
}

@media (min-width: 400px) {
  .footer-container {
    bottom: -40%;
  }
}
</style>
