<template>
  <div id="login" class="banner">
    <transition name="fade" v-if="isLoading || isAuthLoading">
      <div class="container">
        <div class="logo">
          <img src="../assets/logo.png" alt="" />
        </div>
      </div>
    </transition>

    <div class="container" v-else style="padding-bottom: 3%">
      <div class="text-center pt-5 pb-3">
        <img src="../assets/logo.png" alt="" />
      </div>
      <div class="login-cont" style="padding-bottom: 10%">
        <span class="circle"></span>
        <div class="container">
          <h1 class="login-title text-center">Log-in</h1>
        </div>
        <div class="container">
          <img src="../assets/card.png" alt="" class="card-line" />

          <form @submit.prevent="login" class="login-form">
            <div class="text-center">
              <a
                :href="`${WINSTON.WINSTON_URL}/login?siteId=${WINSTON.WINSTON_SITE_ID}&redirectUrl=${WINSTON.WINSTON_REDIRECT_URL}`"
                class="submit-btn"
                style="text-decoration: none"
              >
                Login
              </a>
            </div>
            <span class="line">
              <h2><span>OR</span></h2>
            </span>

            <div class="text-center mt-4">
              <a
                class="submit-btn"
                style="text-decoration: none"
                :href="`${WINSTON.WINSTON_URL}/register?siteId=${WINSTON.WINSTON_SITE_ID}&redirectUrl=${WINSTON.WINSTON_REDIRECT_URL}`"
                >Sign up</a
              >
            </div>
          </form>
          <!-- <div class="text-center mt-4">
            <button class="submit-btn" @click="afterLogin()">SUBMIT</button>
          </div> -->
          <!-- 
          <form @submit.prevent="login" class="login-form">
            <div class="forgot-password text-center">
              <button class="submit-btn link" @click="afterLogin()">
                LOG IN
              </button>
            </div>
            <span class="line">
              <h2><span>OR</span></h2>
            </span>
            <div class="text-center mt-2">
              <button class="google-btn">REGISTER</button>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
  <Footer style="display: flex" />
</template>

<script>
import Footer from '../components/Footer.vue';
//import router from "@/router";
import { LOGIN_PARAMS } from '@/shared/constants/loginParams';
import { WINSTON } from './../env-vars';
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { useAuth } from '../composable/useAuth';
import { useLocalStorage } from '../utils/localStorage';
import { userCurrentCityService } from '@/services/userCurrentCityService';
export default {
  name: 'Login',
  components: {
    Footer,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const { getLocalStorage, removeLocalStorage } = useLocalStorage();
    const { isAuthenticated, setAuthenticate, isLoading: isAuthLoading } = useAuth();

    const isLoading = ref(true);
    const mobileNumber = ref('kcam031892');
    const password = ref('asaness123');

    const loginSuccess = async () => {
      const cityCode = getLocalStorage('city_code');
      if (cityCode) {
        await store.dispatch('userUnlockedCity', {
          code: cityCode,
        });
        removeLocalStorage('city_code');
        const isUnlockedCity = computed(() => store.state['user'].isUnlockedCity);
        if (isUnlockedCity.value) {
          await store.dispatch('getCities', {
            code: cityCode,
          });
          const city = computed(() => store.state['city'].cities[0]);
          await userCurrentCityService.changeUserCurrentCity({ city_id: city?.value?.id });
          await store.dispatch('changeUserSavedLocation', {
            city_id: city?.value?.id,
          });
          return router.push({
            name: 'Home',
          });
        }

        return router.push({
          name: 'Home',
        });
      }
      return router.push({
        name: 'Home',
      });
    };

    const onLoad = async () => {
      const query = router?.currentRoute?.value?.query;
      if (isAuthenticated) loginSuccess();
      if (query?.userid && query?.token) {
        const { userid, token } = query;
        await setAuthenticate({
          userid,
          token,
          success() {
            loginSuccess();
          },
          fail() {
            alert('fail');
          },
        });
      }
    };

    const handleLogin = async () => {
      await store.dispatch('auth/login', {
        username: mobileNumber.value,
        password: password.value,
        success() {
          router.push({
            name: 'Home',
          });
        },
        fail() {
          alert('Failed');
        },
      });
    };

    onMounted(() => {
      setTimeout(() => {
        isLoading.value = false;
      }, 2000);
    });

    onLoad();

    return {
      LOGIN_PARAMS,
      isLoading,
      mobileNumber,
      password,
      isAuthLoading,
      handleLogin,
      WINSTON,
    };
  },

  methods: {
    afterLogin() {
      let _this = this;
      this.$store.dispatch('login', {
        remember_me: this.remember_me,
        mobile_number: this.mobile_number,
        password: this.password,
        success() {
          if (localStorage.getItem('authtoken') !== 'undefined') {
            // _this.$store.dispatch('getUser');
            _this.$router.push('/home');
          }
        },
        fail() {
          _this.mobile_number = '';
          _this.password = '';
        },
      });
    },
  },
};
</script>

<style lang="scss">
.login-form {
  height: 52vh;
}
</style>
