<template>
  <div id="microsite" class="banner">
    <transition name="fade">
      <div class="container" v-if="isLoading || isAuthLoading">
        <div class="logo">
          <img src="../assets/logo.png" alt="" />
        </div>
      </div>
    </transition>

    <div class="container" v-if="isLoadingDone || !isAuthLoading">
      <QrModal :isModalShown="isQrModalShown" @closeQrModal="closeQrModal" />
      <div class="text-center pt-5 pb-3">
        <img src="../assets/logo.png" alt="" />
      </div>
      <div class="microsite-cont">
        <div class="cities">
          <img class="paris" src="../assets/images/paris.png" />
          <img class="newyork" src="../assets/images/newyork.png" />
          <img class="seoul" src="../assets/images/seoul.png" />
        </div>
        <form @submit.prevent="login" class="microsite-form">
          <div class="container white-bg pt-5">
            <p>
              Choose your own virtual adventure and explore the streets of Paris, New York, and Seoul! <br /><br />
              A <strong style="color: #c9031d">raffle entry</strong> with a chance to win exciting prizes awaits at the
              end of every tour!
            </p>
            <span class="circle"></span>
          </div>

          <img src="../assets/card.png" alt="" class="card-line" />
          <div class="container white-bg">
            <h1
              class="login-title text-center"
              style="color: #00387f; font-family: 'Barlow Condensed', sans-serif; font-size: 25px; font-weight: 600"
            >
              HOW TO JOIN
            </h1>
            <div class="steps">
              <div class="step-1">
                <img class="step-1-img" src="../assets/images/step-1.png" />
                <p class="step-1-text">
                  1. Buy Winston City Limited Edition Packs
                  <span style="font-size: 13px">(available in convenience stores nationwide)</span>
                </p>
              </div>

              <div class="step-2">
                <img class="step-2-img" src="../assets/images/step-2.png" />
                <p class="step-2-text">2. Scan the QR code inside</p>
              </div>
              <div class="step-3">
                <img class="step-3-img" src="../assets/images/step-3.png" />
                <p class="step-3-text">3. Register and start your adventure!</p>
              </div>
            </div>
            <div class="text-center mt-4 pb-3">
              <button class="submit-btn" @click="showQrModal">SCAN QR IN PACK</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <Footer style="display: flex" />
</template>

<script>
import Footer from '../../src/components/Footer.vue';
import QrModal from './../components/QrModal.vue';
import { onMounted, ref } from 'vue';
import { useAuth } from '../composable/useAuth';
import { useRouter } from 'vue-router';

export default {
  name: 'Microsite',
  components: {
    Footer,
    QrModal,
  },
  setup() {
    const router = useRouter();
    const { setAuthenticate, isLoading: isAuthLoading } = useAuth();
    const isLoading = ref(true);
    const isLoadingDone = ref(false);
    const isQrModalShown = ref(false);

    const showQrModal = () => {
      isQrModalShown.value = true;
    };

    const closeQrModal = () => {
      isQrModalShown.value = false;
    };

    const loginSuccess = () => {
      return router.push({
        name: 'Microsite',
      });
    };

    const loginFailed = () => {
      window.location.href = 'https://www.winston.ph/home';
    };

    const onLoad = async () => {
      const query = router?.currentRoute?.value?.query;
      if (query?.userid && query?.token) {
        const { userid, token } = query;
        await setAuthenticate({
          userid,
          token,
          success() {
            loginSuccess();
          },
          fail() {
            loginFailed();
          },
        });
      }
    };

    onMounted(() => {
      setTimeout(() => {
        isLoading.value = false;
        isLoadingDone.value = true;
      }, 2000);
    });
    onLoad();
    return {
      isLoading,
      isLoadingDone,
      isQrModalShown,
      showQrModal,
      closeQrModal,
      isAuthLoading,
    };
  },

  mounted() {
    setTimeout(() => {
      this.isLoading = false;
      this.loadingDone = true;
    }, 2000);
  },
};
</script>

<style scoped lang="scss">
#microsite {
  padding: 0 10px 70px 10px;
}
</style>
