<template>
  <loading-spinner v-if="isLoading" />

  <div id="profile" class="landscape" v-else>
    <div class="profile--banner-image">
      <Menu :location="setLocation"></Menu>
      <QrModal :isModalShown="isQrModalShown" @closeQrModal="closeQrModal" />
      <div class="container-fluid">
        <div class="container-fluid mt-2">
          <div>
            <div class="back-options d-flex" style="align-items: flex-start">
              <div class="d-flex menu--back-option" @click="resume">
                <img class="checklist-back-icon" src="./../assets/images/back-icon.svg" />
                <p class="back-to-options">Resume gameplay</p>
              </div>
            </div>
            <div v-if="false">
              <div class="profile--container">
                <div class="profile--box">
                  <img class="profile--avatar" src="./../assets/images/avatar.svg" />
                  <div><p>@Mark_King</p></div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid profile-locations d-flex">
            <div class="profile-locations-container" v-for="item in citiesData" :key="item.id">
              <UnlockedCity
                :leftPic="item.left_pic"
                :midPic="item.mid_pic"
                :rightPic="item.right_pic"
                :locationBtnText="firstBtnText"
                :placesNum="firstPlacesNum"
                :activitiesNum="firstActivitiesNum"
                :sunNum="item.totalDayEntries"
                :moonNum="item.totalNightEntries"
                :totalLocations="item.totalLocations"
                :totalLocationsVisited="item.totalLocationsVisited"
                :totalActivities="item.totalActivities"
                :totalUserActivities="item.totalUserActivities"
                :city="item.city"
                v-if="item.user_city"
              />
              <LockedCity v-else :lockedCityPic="item.locked_pic" @showQrModal="showQrModal" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <TermsAndConditions />
  </div>
</template>

<script>
import TermsAndConditions from '../../src/components/TermsAndConditions.vue';
import Menu from '../../src/components/Menu.vue';
import UnlockedCity from '../components/UnlockedCity.vue';
import LockedCity from '../components/LockedCity.vue';
import LoadingSpinner from '../components/LoadingSpinner.vue';
import QrModal from '../components/QrModal.vue';
import { useStore } from 'vuex';
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';

export default {
  name: 'Profile',
  components: {
    TermsAndConditions,
    Menu,
    UnlockedCity,
    LockedCity,
    LoadingSpinner,
    QrModal,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const isLoading = ref(false);
    const isQrModalShown = ref(false);

    const newYorkLeftPic = require('../assets/images/new-york-2.png');
    const newYorkMidPic = require('../assets/images/new-york-1.png');
    const newYorkRightPic = require('../assets/images/new-york-3.png');
    const newYorkLockedPic = require('../assets/images/locked-ny-pic.png');

    const seoulLeftPic = require('../assets/images/seoul-2.png');
    const seoulMidPic = require('../assets/images/seoul-1.png');
    const seoulRightPic = require('../assets/images/seoul-3.png');
    const seoulLockedPic = require('../assets/images/locked-seoul-pic.png');

    const parisLeftPic = require('../assets/images/paris-2.png');
    const parisMidPic = require('../assets/images/paris-1.png');
    const parisRightPic = require('../assets/images/paris-3.png');
    const parisLockedPic = require('../assets/images/locked-paris-pic.png');

    const user = computed(() => store.state['user'].user);
    const userUnlockedCities = computed(() => store.state['user'].unlockedCities);
    const userCurrentLocation = computed(() => store.state['user'].userCurrentLocation);
    const userLocationVisited = computed(() => store.state['userLocationVisited'].userLocationVisited);
    const userEntries = computed(() => store.state['userEntry'].userEntries);
    const userActivities = computed(() => user?.value.user_activities);
    const cities = computed(() => store.state['city'].cities);
    const isUserLoading = computed(() => store.state['user'].isUserApiLoading);

    const citiesData = computed(() => {
      return cities.value.map((city) => {
        const locations = city?.locations;
        const totalLocations = locations?.length * 2 || 0;
        const activities = locations?.map((location) => location.activities);
        const totalActivities = activities?.reduce((acc, curr) => acc + curr.length, 0);
        const findUserCity = userUnlockedCities.value.find((userCity) => userCity.city_id === city.id);
        const totalLocationsVisitedPerCity = userLocationVisited?.value?.filter(
          (locationVisited) => locationVisited?.location?.city_id === city.id,
        )?.length;
        const userEntriesPerCity = userEntries?.value?.filter((entry) => entry?.location?.city_id === city?.id);
        const totalUserActivities =
          userActivities?.value?.filter((item) => item?.activity?.location?.city_id === city?.id).length || 0;
        const totalDayEntries = userEntriesPerCity?.filter((entry) => entry.time === 'DAY')?.length || 0;
        const totalNightEntries = userEntriesPerCity?.filter((entry) => entry.time === 'NIGHT')?.length || 0;
        const checkIfUserCity = Object.keys(findUserCity || {}).length > 0 ? findUserCity : undefined;
        if (city?.name?.toLowerCase() === 'new york') {
          return {
            city: { ...city },
            user_city: checkIfUserCity,
            user,
            left_pic: newYorkLeftPic,
            mid_pic: newYorkMidPic,
            right_pic: newYorkRightPic,
            locked_pic: newYorkLockedPic,
            totalLocations,
            totalLocationsVisited: totalLocationsVisitedPerCity,
            totalActivities,
            totalDayEntries,
            totalNightEntries,
            totalUserActivities,
          };
        } else if (city?.name?.toLowerCase() === 'seoul') {
          return {
            city: { ...city },
            user,
            user_city: checkIfUserCity,
            left_pic: seoulLeftPic,
            mid_pic: seoulMidPic,
            right_pic: seoulRightPic,
            locked_pic: seoulLockedPic,
            totalLocations,
            totalLocationsVisited: totalLocationsVisitedPerCity,
            totalActivities,
            totalDayEntries,
            totalNightEntries,
            totalUserActivities,
          };
        } else {
          return {
            city: { ...city },
            user,
            user_city: checkIfUserCity,
            left_pic: parisLeftPic,
            mid_pic: parisMidPic,
            right_pic: parisRightPic,
            locked_pic: parisLockedPic,
            totalLocations,
            totalLocationsVisited: totalLocationsVisitedPerCity,
            totalActivities,
            totalDayEntries,
            totalNightEntries,
            totalUserActivities,
          };
        }
      });
    });

    const showQrModal = () => {
      isQrModalShown.value = true;
    };

    const closeQrModal = () => {
      isQrModalShown.value = false;
    };

    const onLoad = async () => {
      await store.dispatch('getCities');
      await store.dispatch('getUser');
      await store.dispatch('getUserEntries');
      await store.dispatch('getUserLocationVisited');
    };
    onLoad();

    const resume = async () => {
      await store.dispatch('getLocations', {
        id: userCurrentLocation.value.location_id,
      });
      router.push({
        name: 'LocationVideo',
      });
    };

    return {
      userUnlockedCities,
      citiesData,
      resume,
      isUserLoading,
      isLoading,
      showQrModal,
      isQrModalShown,
      closeQrModal,
    };
  },
  data() {
    return {
      loadingDone: false,
      firstBtnText: 'RESUME',
      secondBtnText: 'PLAY AGAIN',
      firstPlacesNum: '7/20',
      firstActivitiesNum: '3/8',
      secondPlacesNum: '20/20',
      secondActivitiesNum: '8/8',
      firstSunNum: '5',
      firstMoonNum: '2',
      secondSunNum: '10',
      secondMoonNum: '10',
      firstLeftPic: require('../assets/images/new-york-2.png'),
      firstMidPic: require('../assets/images/new-york-1.png'),
      firstRightPic: require('../assets/images/new-york-3.png'),
      secondLeftPic: require('../assets/images/seoul-2.png'),
      secondMidPic: require('../assets/images/seoul-1.png'),
      secondRightPic: require('../assets/images/seoul-3.png'),
      thirdBtnText: 'PLAY AGAIN',
      thirdPlacesNum: '20/20',
      thirdActivitiesNum: '8/8',
      thirdSunNum: '10',
      thirdMoonNum: '2',
      thirdLeftPic: require('../assets/images/paris-2.png'),
      thirdMidPic: require('../assets/images/paris-1.png'),
      thirdRightPic: require('../assets/images/paris-3.png'),
      firstLockedCityPic: require('../assets/images/locked-ny-pic.png'),
      secondLockedCityPic: require('../assets/images/locked-seoul-pic.png'),
      thirdLockedCityPic: require('../assets/images/locked-paris-pic.png'),
    };
  },

  computed: {
    setLocation: function () {
      return 'seoul';
    },
  },
  methods: {
    getImgUrl(prop) {
      if (prop) {
        let img =
          prop === 'paris'
            ? require('../assets/images/title-card__paris.png')
            : prop === 'seoul'
            ? require('../assets/images/title-card__seoul.png')
            : require('../assets/images/title-card__newyork.png');
        return img;
      }
    },
    getBannerImage(prop) {
      return prop === 'paris'
        ? 'banner-image__paris'
        : prop === 'seoul'
        ? 'banner-image__seoul'
        : 'banner-image__newyork';
    },
  },
};
</script>

<style lang="scss"></style>
