<template>
  <div id="winners" class="landscape">
    <div class="faq--banner-image">
      <Menu :location="setLocation"></Menu>
      <div class="container-fluid faq--container">
        <div class="back-options d-flex" style="align-items: flex-start">
          <div class="d-flex menu--back-option" @click="resume">
            <img class="checklist-back-icon" @click="closeModal" src="../assets/images/back-icon.svg" />
            <p class="back-to-options">Resume gameplay</p>
          </div>
        </div>
        <div class="winners--box">
          <h2 class="winners--box-title">List of Winners</h2>
          <p class="winners--box-subtitle">
            List of winners are categorized by date. View the list of prizes up for grabs
            <a class="link" @click="redirect">here.</a>
          </p>
          <div class="winners--content">
            <div class="winners--grid mt-2 winners--gap">
              <div>
                <ul class="winners--date">
                  <a
                    v-for="winnerAnnouncement in winnerAnnouncements"
                    :key="winnerAnnouncement.id"
                    id="default"
                    tabindex="0"
                    :style="selectedWinnerAnnouncement?.id === winnerAnnouncement?.id ? 'background: #133163' : ''"
                  >
                    <li
                      href="#"
                      @click="handleWinnerAnnouncementChange(winnerAnnouncement.id)"
                      :style="selectedWinnerAnnouncement?.id === winnerAnnouncement?.id ? 'color: #ffffff' : ''"
                    >
                      {{ format(new Date(winnerAnnouncement.raffle_date), 'LLLL d') }}
                    </li>
                  </a>
                  <!-- <li>
                    <a active-link="active" href="#">December 3</a>
                  </li> -->
                </ul>
              </div>

              <div class="winners--box-container" v-if="selectedWinnerAnnouncement?.winners?.length > 0">
                <ul class="winners--profile">
                  <li v-for="(winner, index) in selectedWinnerAnnouncement?.winners" :key="index">
                    <img class="winners--profile-img" src="../assets/images/winner.svg" />
                    <div class="winners--details">
                      <h6>{{ winner.name }}</h6>
                      <p>Prize: {{ winner.prize }}</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div v-else class="winners-tba">{{ selectedWinnerAnnouncement?.announcement }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <TermsAndConditions />
  </div>
</template>

<script>
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import TermsAndConditions from '../../src/components/TermsAndConditions.vue';
import Menu from '../../src/components/Menu.vue';
import { format } from 'date-fns';
import { useStore } from 'vuex';
export default {
  name: 'Winners',
  components: {
    TermsAndConditions,
    Menu,
  },
  data() {
    return {};
  },
  computed: {},
  methods: {
    redirect() {
      this.$router.push({
        name: 'Faq',
        hash: '#rewards',
      });
    },
  },
  setup() {
    const router = useRouter();
    const store = useStore();
    const areWinnersShown = ref(true);
    const winnerAnnouncements = computed(() => store.state['winnerAnnouncements'].winnerAnnouncements);
    const selectedWinnerAnnouncement = ref();
    const handleWinnerAnnouncementChange = (id) => {
      const newWinnerAnnouncement = winnerAnnouncements.value.filter((wa) => wa.id === id)[0];
      selectedWinnerAnnouncement.value = newWinnerAnnouncement;
    };
    const onLoad = async () => {
      await store.dispatch('getWinnerAnnouncements');
      selectedWinnerAnnouncement.value = winnerAnnouncements.value[0];
    };
    onLoad();
    const resume = () => {
      router.push({
        name: 'Home',
      });
    };

    return {
      resume,
      areWinnersShown,
      winnerAnnouncements,
      selectedWinnerAnnouncement,
      handleWinnerAnnouncementChange,
      format,
    };
  },
};
</script>

<style lang="scss"></style>
