<template>
  <div class="location" v-if="showActivities">
    <Menu
      :margin="margin"
      :color="color"
      :negTop="negTop"
      v-if="isActivitySelected"
      getMessage="Pick an Activity!"
      :isAQuestion="menu.isQuestion"
      :isWinstonShown="menu.isWinstonShown"
    />

    <div class="container" style="z-index: 999999">
      <div class="activity-thumbnails home-locations mt-1">
        <div v-if="isImageShown" class="image-backdrop" @click="closeImage">
          <div class="image-wrapper">
            <img class="close-blue image-close-button" @click="closeModal" src="../assets/images/close-blue.png" />
            <img @click="closeImage" class="image" :src="activities[selectedActivityIndex].image_url" />
          </div>
        </div>
        <div v-for="(item, index) in activities" :key="item.id" class="activity--content">
          <div @click="showImage(index)" v-if="isActivitySelected">
            <!-- <router-link :to="{ path: item.url.toLowerCase() }"> -->
            <img :src="item.image_url" alt="Activity" class="activity--image" />
            <button
              :style="[index === 0 ? 'background: #133163' : 'background: red']"
              class="activity--btn"
              :class="item.class"
            >
              <h6 v-if="index === 0">Activity 1</h6>
              <h6 v-if="index === 1">Activity 2</h6>
              <p>{{ item.name }}</p>
              <!-- <p>{{ item.description }}</p> -->
            </button>
            <!-- </router-link> -->
          </div>
        </div>
      </div>
      <div class="mt-3" style="z-index: 9999">
        <Timebar @redirect="selectFirstActivity" :time="time.seconds" v-if="isActivitySelected" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import Menu from './Menu.vue';
import Timebar from './Timebar.vue';
import { TIMER } from './../shared/constants/timer';

export default {
  name: 'Activities',
  components: {
    Menu,
    Timebar,
  },
  props: {
    activities: Array,
  },
  emits: ['onActivityClose'],
  setup(props, { emit }) {
    const store = useStore();
    const menu = ref({
      isWinstonShown: false,
      isAQuestion: false,
    });
    const time = ref({
      seconds: 10,
    });
    // const secondsToClose = 1;
    // const convertedCloseTime = 1 * secondsToClose;
    const isLoading = ref(true);
    const loadingDone = ref(false);
    const isActivityImageShown = false;
    const isActivityOptionsShown = true;
    const isActivitySelected = ref(true);
    const isImageShown = ref(false);
    const color = ref('#000');
    const margin = ref('-12px');
    const negTop = ref('-10%');
    const selectedActivityIndex = ref(null);
    const showActivities = ref(true);

    const closeActivity = (activity) => {
      setTimeout(() => {
        emit('onActivityClose', activity);
      }, 1 * TIMER.ACTIVITY_CLOSE_TIME);
    };

    const createUserActivity = async (index) => {
      const activity = computed(() => props.activities[index]);
      const userActivityPayload = {
        activity_id: activity.value.id,
      };
      store.dispatch('createUserActivity', userActivityPayload);
    };

    const showImage = (index) => {
      if (!selectedActivityIndex.value) {
        selectedActivityIndex.value = index;
        isImageShown.value = true;
        isActivitySelected.value = false;
        createUserActivity(index);

        // setTimeout(() => {
        //   emit('onActivityClose');
        // }, 10000);
      }
    };

    const closeImage = () => {
      isImageShown.value = false;
      showActivities.value = false;
      const selectedActivity = computed(() => props.activities[0]);
      closeActivity(selectedActivity.value);
    };

    const selectFirstActivity = () => {
      if (!selectedActivityIndex.value) {
        isImageShown.value = true;
        selectedActivityIndex.value = 0;
        isActivitySelected.value = false;
        createUserActivity(0);
      }
    };

    return {
      menu,
      time,
      isLoading,
      loadingDone,
      isActivityImageShown,
      isActivityOptionsShown,
      isActivitySelected,
      showImage,
      closeImage,
      isImageShown,
      showActivities,
      selectedActivityIndex,
      selectFirstActivity,
      color,
      margin,
      negTop,
    };
  },
};
</script>

<style lang="scss" scoped>
.image-backdrop {
  position: absolute;
  z-index: 9999;
  top: 0;

  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.image-wrapper {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 30vw;
  max-height: 60vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.image-close-button {
  position: absolute;
  right: 7%;
  top: 5%;
  z-index: 9998;
  background: #fff;
  border-radius: 50%;
  padding: 0.5rem;
}
.image {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 60vw;
  max-height: 60vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  z-index: 9997;
  border: 5px solid #fff;
  cursor: pointer;
}
</style>
