<template>
  <div class="checklist-container" v-if="isModalChecklistShown">
    <div class="checklist-modal-container" v-if="isModalChecklistShown">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-container">
                  <div class="map-container">
                    <img class="map__pic" src="../assets/images/checklist-map.png" />
                  </div>
                  <div class="modal-title">
                    <h1 class="checklistModalTitle">Checklist</h1>
                  </div>
                  <div class="top-left-corner">
                    <img class="checklist-logo" @click="closeModal" src="../assets/images/checklist-logo.png" />
                    <div class="back-options d-flex">
                      <img class="checklist-back-icon" @click="closeModal" src="../assets/images/back-icon.png" />
                      <p class="back-to-options" @click="closeModal()">Back to options</p>
                    </div>
                  </div>

                  <div class="modal-body">
                    <div class="location-container">
                      <div class="location-pics">
                        <div class="location-pics-container">
                          <img class="first-location-pic" :src="midPic" />
                          <img class="second-location-pic" :src="leftPic" />
                          <img class="third-location-pic" :src="rightPic" />
                        </div>
                      </div>
                      <div class="location-details">
                        <div class="location-description__subtitle">
                          <div class="location-description__subtitle-container">
                            <img class="location-icon-pin" src="../assets/images/pin.png" />
                            <p class="location-description__subtitle-text">Places:</p>
                            <p class="location-description__num-text">
                              {{ totalLocationsVisited || 0 }} / {{ totalLocations || 0 }}
                            </p>
                          </div>

                          <div class="location-bottom-row">
                            <img class="location-icon-addon" src="../assets/images/addon-activities.png" />
                            <p class="location-description__subtitle-text">Activities:</p>
                            <p class="location-description__num-text activities-num">
                              {{ totalUserActivities || 0 }} / {{ totalActivities || 0 }}
                            </p>
                          </div>
                        </div>

                        <div class="location-raffle">
                          <div class="location-raffle-container">
                            <img class="raffle-icon-sun" src="../assets/images/sun.png" />
                            <p class="location-raffle__text">Raffle entries for day:</p>

                            <p class="location-raffle__num">{{ sunNum }}</p>
                          </div>

                          <div class="location-bottom-row">
                            <img class="raffle-icon-moon" src="../assets/images/moon.png" />
                            <p class="location-raffle__text">Raffle entries for night:</p>
                            <p class="location-raffle__num">{{ moonNum }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="note-container">
                        <div class="note-border">
                          <i class="note"> Note: raffle entries are dependent on what time you’ve played </i>
                        </div>
                      </div>
                      <button class="checklist-btn" @click="goToProfile()">
                        <router-link :to="{ path: 'profile' }"> GO TO PROFILE </router-link>
                      </button>
                      <p class="checklist-reminder">
                        Buy more Winston City Travel Limited Edition Packs to unlock more cities!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChecklistModal',
  props: [
    'placesNum',
    'activitiesNum',
    'sunNum',
    'moonNum',
    'leftPic',
    'midPic',
    'rightPic',
    'isModalChecklistShown',
    'totalLocations',
    'totalLocationsVisited',
    'totalActivities',
    'totalUserActivities',
  ],
  data() {
    return {
      isModalOpen: false,
    };
  },
  components: {},
  methods: {
    closeModal() {
      this.$emit('close', 'false');
    },
    goToProfile() {
      this.$emit('close', 'false');
      this.$emit('goToProfile', 'false');
    },
  },
  created() {},
};
</script>

<style scoped>
.top-left-corner {
  position: absolute;
  left: 25px;
  top: 20px;
}

.modal-title {
  position: absolute;
  top: 12%;
  margin: 0 auto;
}

.checklist-back-icon {
  width: 6px;
  height: 11px;
  margin-top: 6px;
}

.checklist-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9999999;
  background-color: rgba(49, 49, 49, 0.9);
}

.modal-container {
  display: flex;
  justify-content: center;
}
.modal-dialog {
  margin: 0.5rem auto;
}

.map__pic {
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: none;
  border: none;
}

.modal-body {
  text-align: center;
  position: absolute;
  top: 22%;
  left: 15%;
  width: 100%;
}

.checklistModalTitle {
  color: #133163;
  font-family: 'WinstonMedium';
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: -60%;
}

#show-modal {
  cursor: pointer;
}

.location-container {
  background: #40b4e5;
  border-radius: 22px;
  width: 70%;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-pics {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -90px;
  z-index: 99;
}

.location-pics-container {
  position: relative;
}

.second-location-pic {
  position: absolute;
  left: -30px;
  z-index: -1;
  top: 35px;
}

.third-location-pic {
  position: absolute;
  right: -30px;
  z-index: -1;
  top: 40px;
}

.location-details {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  justify-content: space-between;
  width: 80%;
}

.location-description__subtitle-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.location-bottom-row {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-top: -15px;
  margin-left: 2px;
}

.location-raffle__text,
.location-description__subtitle-text {
  font-family: 'WinstonThin';
  font-size: 14px;
  font-weight: 400;
}

.location-raffle {
  display: flex;
  flex-direction: column;
}

.location-raffle-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.note-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: -5%;
  width: 100%;
  border: 1px solid #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.note {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 10px;
  color: #fff;
}

.location-icon-pin {
  width: 8px;
  height: 10px;
  margin-top: 5px;
  margin-right: 3.25px;
}

.location-icon-addon {
  width: 7px;
  height: 12px;
  margin-top: 5px;
  margin-right: 3.25px;
}

.raffle-icon-sun {
  margin-right: 2px;
  margin-top: 2px;
  width: 19.24px;
  height: 18.95px;
}

.raffle-icon-moon {
  margin-right: 2px;
  margin-top: 2px;
  width: 12.96px;
  height: 18.57px;
}

.location-raffle__num,
.location-description__num {
  font-size: 17px;
  font-family: 'WinstonMedium';
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

.checklist-reminder {
  font-size: 0.6rem;
  color: #4d4d4d;
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  margin-top: 1.5%;
}
</style>
