<template>
  <div class="location" id="cue">
    <div class="cue">
      <div class="cue__banner" style="margin-top: 5%">
        <img :src="city.cue_banner_url" :alt="city.name" />
      </div>
      <div class="cue__bannerText">
        <p :style="[city?.name?.toLowerCase() === 'paris' ? 'color: #00387F' : 'color: #fff']">
          {{ location?.location_cues?.length > 0 && location?.location_cues[0]?.message }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { getTime } from './../utils/getTime';
import { TIMER } from '../shared/constants/timer';
export default {
  props: ['city', 'location'],
  setup(props, { emit }) {
    const store = useStore();
    const userCurrentCity = computed(() => store.state['user'].userCurrentCity);
    const userCurrentLocation = computed(() => store.state['user'].userCurrentLocation);
    const currentTime = getTime();
    const getCityBanners = computed(() => props?.city?.city_banners?.filter((item) => item.time === currentTime)[0]);
    const onCueClose = () => {
      emit('onCueClose');
    };

    const onLoad = () => {
      if (props.location.location_cues.length <= 0) {
        onCueClose();
      } else {
        setTimeout(() => {
          onCueClose();
        }, 1000 * TIMER.CUE_CLOSE_TIME);
      }
    };

    onLoad();

    return {
      getCityBanners,
      userCurrentLocation,
      userCurrentCity,
      onCueClose,
    };
  },
};
</script>

<style scoped lang="scss">
.cue {
  &__bannerText {
    color: #fff;
    font-size: 32px;
    margin-top: 6%;
    overflow: scroll;
  }
}
</style>
