<template>
  <div v-if="isModalShown">
    <div class="entry-modal-container">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-container">
                  <div class="ticket-header">
                    <img class="ticket-header__pic" src="../assets/images/ticket-header.png" />
                  </div>

                  <img class="ticket" src="../assets/images/ticket.png" />

                  <div class="modal-body">
                    <h1 class="entryModalTitle">Congratulations!</h1>
                    <div class="entryModalDescription">
                      {{ location?.outro_text }}
                    </div>
                    <button class="ok-btn" @click="closeModal">OK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EntryModal',
  data() {
    return {
      isModalOpen: false,
    };
  },
  setup() {},
  props: ['isModalShown', 'location'],
  components: {},
  methods: {
    closeModal() {
      this.$emit('close', 'false');
    },
  },
};
</script>

<style scoped>
.red-logo {
  width: 55px;
  height: 25px;
  margin-bottom: 12px;
}
.entry-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9998;
  background-color: rgba(49, 49, 49, 0.9);
}

.modal-container {
  display: flex;
  justify-content: center;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: none;
  border: none;
}

.ticket-header {
  position: relative;
  max-width: 597px;
}

.ticket-header__pic {
  width: 100%;
  height: 100%;
  left: 0;
}

.modal-wrapper {
  margin-top: -10px;
}

.modal-body {
  text-align: center;
  position: absolute;
  top: 100%;
  width: 100%;
  height: auto;
  background: #fff;
  padding-bottom: 2.5%;
}

.close {
  position: absolute;
  top: 20px;
  right: -30px;
  width: 17.09px;
  height: 16.84px;
  cursor: pointer;
}

.ticket {
  position: absolute;
  top: -10px;
  right: 20%;
  width: 275.99px;
  height: 102.88px;
}

.raffle-ticket {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #c9031d;
}

.entryModalTitle {
  color: #133163;
  font-family: 'WinstonMedium';
  font-size: 33px;
}

.entryModalDescription {
  color: #4d4d4d;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
</style>
