<template>
  <footer id="footer">
    <div class="container">
      <p>GOVERNMENT WARNING: CIGARETTE SMOKING IS DANGEROUS TO YOUR HEALTH.</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="scss">
footer {
  background: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1 !important;
  padding: 5.5vh;
  p {
    font-family: 'Arial';
    color: #000;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
  }
}

@media (orientation: portrait) {
  footer {
    padding: 3vh;
  }
}
</style>
