<template>
  <transition name="fade">
    <div class="loader">
      <div class="loader-cont">
        <div class="loader-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {};
</script>

<style></style>
