<template>
  <div class="location-container">
    <div class="location-pics">
      <div class="location-pics-container">
        <img class="first-location-pic" :src="lockedCityPic" />
      </div>
    </div>
    <div class="location-details">
      <img class="lock-icon" src="../assets/images/lock.png" />
    </div>

    <button class="locked-city-btn" @click="showQrModal">SCAN QR</button>
  </div>
</template>

<script>
export default {
  name: 'LockedCity',
  props: ['lockedCityPic'],
  emits: ['showQrModal'],
  setup(_, { emit }) {
    const showQrModal = () => {
      emit('showQrModal');
    };

    return {
      showQrModal,
    };
  },
};
</script>

<style scoped>
.location-container {
  margin-top: 50px;
  background: #d7051b;
  border-radius: 22px;
  width: 100%;
  height: fit-content;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-pics {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -63px;
  z-index: 99;
}

.location-pics-container {
  position: relative;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.first-location-pic {
  width: 80%;
}

.location-details {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.lock-icon {
  width: 24px;
  height: 36px;
}
</style>
