<template>
  <div class="container-fluid home" style="z-index: 999" :style="setMargin">
    <div class="menu">
      <div
        class="navigation"
        :style="[getPathName() === '/home' || getPathName() === '/location-video' ? 'color: white' : 'color: #133163']"
      >
        <div class="menu--details">
          <img
            style="margin-top: 10%"
            v-if="getPathName() === '/home' || getPathName() === '/location-video'"
            src="../assets/images/checklist-logo.png"
          />
          <h2 class="city-name" v-if="getPathName() === '/home' || getPathName() === '/location-video'">
            Experience
            {{ userCurrentCity.name }}
          </h2>
          <!--<div v-else class="menu--logo"></div>-->
          <div class="menu--logo" v-else>
            <img src="../assets/images/checklist-logo.png" />
          </div>
          <!--<p><span><i class="fas fa-map-marker-alt"></i></span> Brooklyn Bridge, April 13, 2021 4:00PM</p>-->
        </div>
        <div v-if="getPathName() !== '/home' && getPathName() !== '/location-video'">
          <ul class="menu--tab">
            <router-link :to="{ path: 'profile' }" active-link="active"><li class="active">Profile</li></router-link>
            <router-link :to="{ path: 'faq' }" active-link="active"><li>Mechanics & FAQ</li></router-link>
            <router-link :to="{ path: 'winners' }" active-link="active"><li>Winners</li></router-link>
          </ul>
        </div>
        <div class="menu--icons">
          <!-- <img :src="getLogoUrl('compass')"/> -->
          <router-link :to="{ path: 'faq' }" active-link="active" class="link">
            <img :style="[getPathName() === '/location-video' ? 'margin-top: -200%' : '']" :src="getLogoUrl('info')" />
          </router-link>
          <h3 v-on:click="showHideMenuList()">
            <img
              :style="[getPathName() === '/location-video' ? 'margin-top: -180%' : '']"
              class="menu-icon"
              src="../assets/images/menu.svg"
            />
          </h3>
        </div>
      </div>
    </div>
    <button
      style="margin-top: -12%"
      :style="style"
      class="home-btn menu-btn"
      v-if="getPathName() === '/home' || getPathName() === '/location-video'"
    >
      <span
        >{{ getMessage }}<img :src="require('@/assets/images/winston-logo.png')" v-if="isLogoShown" /><span
          v-if="isQuestion"
          >?</span
        ></span
      >
    </button>
  </div>
  <div class="modal" v-if="isMenuShown">
    <div class="modal__wrapper">
      <div class="modal__container">
        <div class="modal__content">
          <h3 class="modal__close" v-on:click="showHideMenuList()">
            <i class="fas fa-times"></i>
          </h3>
          <div class="menu">
            <ul class="menu-list">
              <router-link :to="{ path: 'home' }" active-link="active">
                <button
                  style="background: #133163; padding: 5px 15px; margin-top: -10px; margin-left: 3px"
                  class="home-btn"
                >
                  <span>WHERE TO NEXT,<img :src="require('@/assets/images/winston-logo.png')" /><span>?</span></span>
                </button>
              </router-link>
              <a target="_blank" href="https://www.winston.ph/home" active-link="active"><li>HOME</li></a>
              <a target="_blank" href="https://www.winston.ph/events" active-link="active"><li>EVENTS</li></a>
              <!-- <router-link :to="{ path: 'home' }" active-link="active"><li>WINSTON PROMOS</li></router-link> -->
              <a target="_blank" href="https://www.winston.ph/coins-and-rewards" active-link="active"
                ><li>COINS AND REWARDS</li></a
              >
              <a target="_blank" href="https://www.winston.ph/exclusive-content" active-link="active"
                ><li>EXCLUSIVE CONTENT</li></a
              >
              <!-- <router-link :to="{ path: 'faq' }" active-link="active"><li>FAQ</li></router-link> -->
              <a target="_blank" href="https://www.winston.ph/account/overview" active-link="active"
                ><li>MY PROFILE</li></a
              >
              <!-- <router-link :to="{ path: 'winners' }" active-link="active"><li>Winners</li></router-link> -->
              <a target="_blank" href="https://www.winston.ph/contact-us" active-link="active"><li>CONTACT US</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
export default {
  name: 'Menu',
  props: ['location', 'isWinstonShown', 'isAQuestion', 'getMessage', 'color', 'margin', 'negTop'],
  setup() {
    const store = useStore();
    const userCurrentCity = computed(() => store.state['user'].userCurrentCity);
    return {
      userCurrentCity,
    };
  },
  data() {
    return {
      isMenuShown: false,
      isLogoShown: this.isWinstonShown,
      isQuestion: this.isAQuestion,
      bgColor: this.color,
      marginTop: this.negTop,
      cMargin: this.margin,
    };
  },
  methods: {
    showHideMenuList() {
      this.isMenuShown = !this.isMenuShown;
    },
    getPathName() {
      return window.location.pathname;
    },
    getLogoUrl(prop) {
      if (prop === 'compass') {
        return this.getPathName() === '/home' || this.getPathName() === '/location-video'
          ? require('../assets/images/compass-white.png')
          : require('../assets/images/compass.svg');
      } else {
        return this.getPathName() === '/home' || this.getPathName() === '/location-video'
          ? require('../assets/images/info-white.svg')
          : require('../assets/images/info.svg');
      }
    },
  },
  computed: {
    style() {
      return 'background: ' + this.bgColor + ';margin-top: ' + this.marginTop;
    },
    setMargin() {
      return 'margin-top: ' + this.cMargin;
    },
    // getMessage: function() {
    //   return this.getPathName() === "/location" || this.getPathName() === "/home"
    //     ? "Where to next,"
    //     : "Pick an activity!";
    // },
  },
};
</script>

<style scoped lang="scss">
.city-name {
  text-shadow: -1px -1px 0 #808080;
  background: #000000;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: sticky;
  margin-left: -20%;
  margin-top: 15%;
}
.modal {
  position: fixed;
  z-index: 9999999999 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  &__wrapper {
    position: relative;
  }
  &__container {
    width: 250px;
    padding: 10px 20px;
    background: #fff;
    color: #133163;
    background: url('@/../../assets/images/menu-bg.svg') no-repeat;
    background-position: left;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    height: 90vh;
  }
  &__close {
    align-self: flex-end;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
  }
}

.menu {
  position: relative;
  &-list {
    padding: 0;
    display: inline-block;
    list-style: none;
    a {
      text-decoration: none;
      color: #133163;
      &.router-link-active {
        li {
          background: #133163;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
          text-decoration: none;
          color: #fff;
        }
      }
      li {
        font-family: 'WinstonMedium';
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0;
        border-radius: 50px;
        padding: 5px 20px 0;
        margin-bottom: 10px;
        width: fit-content;
        &:hover {
          border: 1px solid #133163;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        }
      }
    }
  }
}

.menu-btn {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 30%;
}

.menu-icon {
  height: 95%;
}
</style>
