<template>
  <div class="location">
    <Menu
      :negTop="negTop"
      :color="color"
      getMessage="Where to next,"
      :isAQuestion="menu.isAQuestion"
      :isWinstonShown="menu.isWinstonShown"
    />
    <div class="container" style="overflow: hidden">
      <div class="home-locations mt-2">
        <div v-for="(item, index) in locations" :key="item.id">
          <div
            :class="[
              userCurrentCity?.name?.toLowerCase() === 'paris'
                ? 'paris-frame'
                : userCurrentCity?.name?.toLowerCase() === 'seoul'
                ? 'seoul-frame'
                : 'newyork-frame',
            ]"
            :style="{
              'background-image': `url(${
                index === 0 ? item.city.first_location_image : item.city.second_location_image
              })`,
            }"
          >
            <div class="locations-container" @click="handleLocationClick(item.id)">
              <p class="locations-name">{{ item.name }}</p>
              <div class="locations-imageContainer">
                <img :src="item.image_url" :alt="item.name" class="home-locations--image locations-pic" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <Timebar
          :class="[
            userCurrentCity?.name?.toLowerCase() === 'new york'
              ? 'nav-timebar-nyc'
              : userCurrentCity?.name?.toLowerCase() === 'seoul'
              ? 'nav-timebar-seoul'
              : 'nav-timebar-paris',
          ]"
          :time="time.seconds"
          @redirect="selectFirstLocation"
        />
      </div>
    </div>
  </div>
</template>
<script>
import Menu from '../../src/components/Menu.vue';
import Timebar from '../components/Timebar.vue';
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
export default {
  name: 'Nav',
  components: {
    Menu,
    Timebar,
  },
  setup(_, context) {
    const store = useStore();
    const menu = ref({ isWinstonShown: true, isAQuestion: true });
    const time = ref({ seconds: 30 });
    const color = ref('#000');
    const negTop = ref('-13%');
    const locations = computed(() => store.state['location'].locationOptions);
    const userCurrentCity = computed(() => store.state['user'].userCurrentCity);
    const handleLocationClick = (id) => {
      context.emit('goToNextLocation', id);
    };

    const selectFirstLocation = () => {
      context.emit('goToNextLocation', locations.value[0].id);
    };

    return {
      menu,
      time,
      locations,
      handleLocationClick,
      selectFirstLocation,
      userCurrentCity,
      color,
      negTop,
    };
  },
};
</script>

<style lang="scss"></style>
