<template>
  <ChecklistModal
    v-if="!isCityLoading"
    :leftPic="leftImage"
    :midPic="midImage"
    :rightPic="rightImage"
    :placesNum="thirdPlacesNum"
    :activitiesNum="thirdActivitiesNum"
    :sunNum="totalDayEntries"
    :moonNum="totalNightEntries"
    :isModalChecklistShown="isChecklistModalShown"
    :totalLocations="totalLocations"
    :totalLocationsVisited="totalUserLocationsVisited"
    :totalActivities="totalActivities"
    :totalUserActivities="totalUserActivities"
    @close="isChecklistModalShown = false"
    @goToProfile="closeModal()"
  />
  <div v-if="isModalShown">
    <div class="paused-modal-container">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-container">
                  <div class="map-container">
                    <img class="map__pic" src="../assets/images/map.png" />
                  </div>
                  <!-- <img class="close-blue" @click="closeModal" src="../assets/images/close-blue.png" /> -->

                  <div class="modal-body">
                    <div class="paused-modal-title">
                      <h1 class="paused-modal-text">You’ve paused your Where to Next</h1>
                      <img class="red-logo" src="../assets/images/red-logo.png" />
                      <h1 class="paused-modal-text">Virtual Adventure</h1>
                    </div>

                    <div class="options-container">
                      <img
                        class="paused-option"
                        src="../assets/images/view-checklist.png"
                        @click="showChecklistModal"
                      />

                      <img @click="closeModal" class="paused-option" src="../assets/images/resume-adventure.png" />
                    </div>
                    <router-link :to="{ path: 'home' }" active-link="active" class="link">
                      <button class="quit-btn">QUIT</button>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue';
import ChecklistModal from './ChecklistModal.vue';
import { useStore } from 'vuex';
export default {
  name: 'PausedModal',
  components: { ChecklistModal },
  props: ['isModalShown', 'user'],
  emits: ['close'],
  setup(props, { emit }) {
    const store = useStore();

    const currentLocation = computed(() => props?.user?.user_current_location);
    const currentCity = computed(() => currentLocation?.value?.city);
    const currentCityName = computed(() => currentCity?.value?.name?.toLowerCase());
    const userLocationVisited = computed(() => store.state['userLocationVisited'].userLocationVisited);

    const userEntries = computed(() => store.state['userEntry'].userEntries);
    const userEntriesByCity = computed(() =>
      userEntries?.value?.filter((item) => item?.location?.city_id === currentCity?.value?.id),
    );

    const totalUserActivities = computed(
      () =>
        props?.user?.user_activities?.filter((item) => item?.activity?.location?.city_id === currentCity?.value?.id)
          .length,
    );
    const totalDayEntries = computed(() => userEntriesByCity?.value?.filter((entry) => entry.time === 'DAY').length);
    const totalNightEntries = computed(
      () => userEntriesByCity?.value?.filter((entry) => entry.time === 'NIGHT').length,
    );

    const city = computed(() => store.state['city'].cities[0]);
    const isCityLoading = computed(() => store.state['city'].isCityLoading);
    const locations = computed(() => city?.value?.locations);
    const totalLocations = computed(() => locations?.value?.length * 2);
    const totalUserLocationsVisited = computed(() => userLocationVisited?.value?.length);
    const activities = computed(() => locations?.value?.map((location) => location.activities));
    const totalActivities = computed(() => activities?.value.reduce((acc, curr) => acc + curr.length, 0));

    const leftImage =
      currentCityName.value === 'paris'
        ? require('./../assets/images/paris-2.png')
        : currentCityName.value === 'seoul'
        ? require('./../assets/images/seoul-2.png')
        : require('./../assets/images/new-york-2.png');

    const midImage =
      currentCityName.value === 'paris'
        ? require('./../assets/images/paris-1.png')
        : currentCityName.value === 'seoul'
        ? require('./../assets/images/seoul-1.png')
        : require('./../assets/images/new-york-1.png');

    const rightImage =
      currentCityName.value === 'paris'
        ? require('./../assets/images/paris-3.png')
        : currentCityName.value === 'seoul'
        ? require('./../assets/images/seoul-3.png')
        : require('./../assets/images/new-york-3.png');

    const isChecklistModalShown = ref(false);
    const showChecklistModal = async () => {
      await store.dispatch('getUser');
      await store.dispatch('getUserEntries');
      isChecklistModalShown.value = true;
    };
    const closeModal = () => {
      emit('close');
    };
    const onLoad = async () => {
      console.log('log', 'is calling this?');
      await store.dispatch('getCities', {
        id: currentCity?.value?.id,
      });
      await store.dispatch('getUserLocationVisited', {
        city_id: currentCity?.value?.id,
      });
    };
    onLoad();
    return {
      isChecklistModalShown,
      closeModal,
      showChecklistModal,
      leftImage,
      midImage,
      rightImage,
      totalDayEntries,
      totalNightEntries,
      totalLocations,
      totalActivities,
      isCityLoading,
      totalUserLocationsVisited,
      totalUserActivities,
    };
  },
  data() {
    return {
      thirdPlacesNum: '7/20',
      thirdActivitiesNum: '3/8',
      thirdSunNum: '5',
      thirdMoonNum: '2',
      thirdMidPic: require('../assets/images/new-york-1.png'),
      thirdRightPic: require('../assets/images/new-york-3.png'),
    };
  },
};
</script>

<style scoped>
.paused-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999999;
  background-color: rgba(49, 49, 49, 0.9);
}

.red-logo {
  width: 50px;
  height: 22px;
  margin: 0 5px;
}

.modal-wrapper {
  margin-top: -15px;
}

.modal-container {
  display: flex;
  justify-content: center;
}

.map__pic {
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: none;
  border: none;
}

.modal-body {
  text-align: center;
  position: absolute;
  top: 5%;
  width: 100%;
}

.close-blue {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 17.09px;
  height: 16.84px;
  cursor: pointer;
  z-index: 999;
}

.paused-modal-title {
  display: flex;
  justify-content: center;
}

.paused-modal-text {
  color: #4d4d4d;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.33rem;
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-top: 1.5%;
}

.paused-option {
  cursor: pointer;
}

#show-modal {
  cursor: pointer;
}
</style>
