<template>
  <div v-if="isModalShown">
    <div
      class="qr-modal-container"
      :style="[$route.path === '/profile' || $route.path === '/microsite' ? 'width: 100%;' : '']"
    >
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" :style="[qrError !== null ? 'width: 100%' : '']">
              <div class="modal-content">
                <div class="modal-container">
                  <div class="modal-body">
                    <div class="modal-body--header">
                      <h1>Scan</h1>
                      <p @click="closeQrModal">Cancel</p>
                    </div>
                    <div class="entryModalDescription">
                      <!-- <qrcode-stream /> -->
                      <qrcode-stream @decode="onDecode" :track="paintOutline" @init="onInit" v-if="!qrError">
                        <div class="loading-indicator" v-if="isLoading">Loading...</div>
                      </qrcode-stream>
                      <h1>{{ qrError }}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import { QrcodeStream } from 'vue3-qrcode-reader';
export default {
  components: { QrcodeStream },
  props: ['isModalShown'],
  emits: ['closeQrModal'],
  setup(_, { emit }) {
    const qrError = ref(null);
    const isLoading = ref(true);

    const closeQrModal = () => {
      emit('closeQrModal');
    };

    const onInit = async (promise) => {
      try {
        await promise;
      } catch (error) {
        qrError.value === error.name;
        if (error.name === 'NotAllowedError') {
          qrError.value = 'ERROR: you need to grant camera access permission';
        } else if (error.name === 'NotFoundError') {
          qrError.value = 'ERROR: no camera on this device';
        } else if (error.name === 'NotSupportedError') {
          qrError.value = 'ERROR: secure context required (HTTPS, localhost)';
        } else if (error.name === 'NotReadableError') {
          qrError.value = 'ERROR: is the camera already in use?';
        } else if (error.name === 'OverconstrainedError') {
          qrError.value = 'ERROR: installed cameras are not suitable';
        } else if (error.name === 'StreamApiNotSupportedError') {
          qrError.value = 'ERROR: Stream API is not supported in this browser';
        } else if (error.name === 'InsecureContextError') {
          qrError.value =
            'ERROR: Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.';
        } else {
          qrError.value = `ERROR: Camera error (${error.name})`;
        }
      } finally {
        isLoading.value = false;
      }
    };
    const paintOutline = (detectedCodes, ctx) => {
      const points = [];
      for (const k in detectedCodes) {
        switch (k) {
          case 'topLeftCorner':
            points[0] = detectedCodes[k];
            break;
          case 'topRightCorner':
            points[1] = detectedCodes[k];
            break;
          case 'bottomLeftCorner':
            points[2] = detectedCodes[k];
            break;
          case 'bottomRightCorner':
            points[3] = detectedCodes[k];
            break;
          default:
            break;
        }
      }
      ctx.strokeStyle = 'green';
      ctx.beginPath();
      ctx.moveTo(points[0].x, points[0].y);
      for (const { x, y } of points) {
        ctx.lineTo(x, y);
      }
      ctx.lineTo(points[0], points[0].y);
      ctx.closePath();
      ctx.stroke();
    };
    const onDecode = (result) => {
      console.log(result);
      window.location.href = result;
    };
    console.log(qrError.value);
    return {
      onInit,
      onDecode,
      paintOutline,
      qrError,
      isLoading,
      closeQrModal,
    };
  },
};
</script>

<style scoped lang="scss">
.qr-modal-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999999999;
  // transform: translateX(-50%);

  .modal-body {
    position: relative;
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    /* width: 80vw; */
  }
  .entryModalDescription {
    height: 100%;
    /* width: 50vw; */
  }
}

@media (orientation: landscape) {
  .modal-dialog {
    width: 30%;
  }
}
@media (orientation: portrait) {
  .qr-modal-container {
    bottom: 0;
  }
}

@media (orientation: landscape) {
  .qr-modal-container {
    width: 30%;
  }
}
</style>
