<template>
  <div v-if="isModalShown">
    <div class="scan-modal-container">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-container">
                  <div class="map-container">
                    <img class="map__pic" src="../assets/images/map.png" />
                  </div>
                  <img class="close-blue" @click="closeModal" src="../assets/images/close-blue.png" />

                  <div class="modal-body">
                    <div class="scan-warning">
                      You’ve already scanned this QR code! Visit your profile to enter the city again.
                    </div>
                    <div>
                      <router-link :to="{ path: 'profile' }" style="text-decoration: none">
                        <button class="goto-btn">GO TO PROFILE</button>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
export default {
  name: 'ScanModal',
  components: {},
  props: ['isModalShown', 'user'],
  emits: ['close'],
  setup(props, { emit }) {
    const store = useStore();
    const currentLocation = computed(() => props?.user?.user_current_location);
    const currentCity = computed(() => currentLocation?.value?.city);
    const city = computed(() => store.state['city'].cities[0]);
    const isCityLoading = computed(() => store.state['city'].isCityLoading);
    const locations = computed(() => city?.value?.locations);
    const totalLocations = computed(() => locations?.value?.length * 2);

    const closeModal = () => {
      emit('close');
    };
    const onLoad = async () => {
      console.log('log', 'is calling this?');
      await store.dispatch('getCities', {
        id: currentCity?.value?.id,
      });
      await store.dispatch('getUserLocationVisited', {
        city_id: currentCity?.value?.id,
      });
    };
    onLoad();
    return {
      closeModal,
      totalLocations,
      isCityLoading,
    };
  },
  data() {
    return {};
  },
};
</script>

<style scoped>
.scan-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 77777;
  background-color: rgba(49, 49, 49, 0.9);
}

/* .modal-wrapper {
  margin-top: -15px;
} */

/* .modal-container {
  display: flex;
  justify-content: center;
} */

.map__pic {
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: none;
  border: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.close-blue {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 17.09px;
  height: 16.84px;
  cursor: pointer;
  z-index: 999;
}

.scan-warning {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: center;
  color: #4d4d4d;
  width: 50%;
  margin-bottom: 10%;
}

#show-modal {
  cursor: pointer;
}
</style>
