<template>
  <div id="starter">
    <img class="starter-logo" src="./../assets/images/checklist-logo.png" alt="winston" />
    <div class="pack-cont">
        <img class="pack" src="./../assets/images/pack.png" alt="winston" />
      </div>
    <div class="starter-cont">
      
      <div class="starter-right">
        <img class="random-pics" src="./../assets/images/random-pics.png" alt="winston" />
      </div>
      <div class="starter-text">
        <h1 class="starter-title">Welcome, Jetsetter!</h1>
        <router-link :to="{ path: 'teaser' }">
        <button @click="handlePlay" class="ok-btn starter-watch-btn"> watch the tutorial</button>
        </router-link>
        <button @click="navigate" class="ok-btn starter-start-btn">start game</button>
      </div>
    </div>
    <TermsAndConditions class="starter-tnc"/>
  </div>
  
</template>

<script>
import TermsAndConditions from '../../src/components/TermsAndConditions.vue';
import { useRouter } from 'vue-router'

export default {
  name: "Starter",
  setup() {
    const router = useRouter();
    const queryParams = router.currentRoute.value.query;
    console.log(queryParams);
    const navigate = () => {
      router.push(`/login?${queryParams.city_code}`)
    }
    return {
      navigate,
    }
  },
  components: {
    TermsAndConditions,
  },
  methods: {
    handlePlay() {
      this.$emit('play')

    }
  }
};
</script>

<style>
#starter {
  background-image: url("./../assets/images/bg.png");
  height: 100vh;
}

.starter-logo {
  float: left;
  width: 10% !important;
  margin-top: 3%;
  margin-left: 3%;
}

.starter-cont {
  display: flex;
}

.pack-cont {
  float: left;
  margin-top: 15%;
  margin-left: -15%;
  width: 55%;
}

.starter-right {
  position: fixed;
  right: -12%;
  top: 1%;
  width: 80%;
}

.random-pics {
  height: 100%;
}

.starter-text {
  color: #133163;
  margin-top: 20%;
  margin-left: 10%;
}

.starter-title {
  font-size: 23px;
  font-family: 'WinstonMedium';
  text-align: left;
}

.starter-description {
  text-align: left;
  font-family: 'WinstonThin';
  font-size: 23px;
  width: 80%;
}

.starter-watch-btn {
  padding: 0.5rem;
  width: 20%;
  font-family: 'WinstonMedium';
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: -1%;
  z-index: 99999;
  position: absolute;
}

.starter-start-btn {
  padding: 0.5rem;
  border: 2px solid #133163;
  background: none;
  color: #133163;
  width: 20%;
  font-family: 'WinstonMedium';
  font-size: 0.9rem;
  margin-top: 5%;
  text-transform: uppercase;
  position: absolute;
}

.starter-tnc {
  position: absolute;
  width: 100%;
  bottom: 0 !important;
}
</style>
