<template>
  <div>
    <div class="terms--conditions">
      <div class="terms--conditions__link">
        <a target="_blank" href="https://www.winston.ph/terms-and-conditions">Terms and Conditions</a>
        <span>|</span>
        <a target="_blank" href="https://www.winston.ph/privacy-policy">Privacy Policy</a>
      </div>
      <h6>JT International (Philippines), Inc.</h6>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TermsAndConditions',
};
</script>

<style lang="scss">
.terms--conditions {
  background: #fff;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__link {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    span {
      font-size: 10px;
      color: #808080;
    }
    a {
      color: #808080;
      text-decoration: none;
      font-family: 'Arial';
      font-size: 10px;
    }
  }
  h6 {
    margin: 5px;
    font-family: 'Arial';
    font-size: 10px;
  }
}
</style>
