<template>
  <div>
    <div class="progress">
      <div
        class="progress-bar"
        ref="elaspedTime"
        role="progressbar"
        aria-valuenow="100"
        aria-valuemin="100"
        aria-valuemax="0"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Timebar',
  props: {
    time: Number,
  },
  data() {
    return {
      timeInSeconds: this.time,
      countdown: null,
    };
  },
  methods: {
    redirectURL() {
      this.$emit('redirect');
    },
  },
  mounted() {
    if (this.timeInSeconds === 10) {
      let seconds = this.timeInSeconds; // initial time
      let et = this.$refs.elaspedTime;
      et.style.width = '100%';
      this.countdown = setInterval(() => {
        this.timeInSeconds--;
        et.style.width = seconds * this.timeInSeconds + '%';

        if (this.timeInSeconds === 100) {
          clearInterval(this.countdown);
          this.timeInSeconds = 10;
        }
        if (et.style.width === '0%') {
          clearInterval(this.countdown);
          this.redirectURL();
        }
      }, 1000);
    } else {
      let seconds = this.timeInSeconds; // initial time
      let et = this.$refs.elaspedTime;
      et.style.width = '100%';
      this.countdown = setInterval(() => {
        this.timeInSeconds--;
        seconds--;
        et.style.width = seconds * 3.33 + '%';
        if (this.timeInSeconds === 100) {
          clearInterval(this.countdown);
          this.timeInSeconds = 30;
        }
        if (et.style.width === '0%') {
          clearInterval(this.countdown);
          this.redirectURL();
        }
      }, 1000);
    }
  },
  unmounted() {
    clearInterval(this.countdown);
  },
};
</script>

<style></style>
