<template>
<div :style="isStarterShown ? 'display: none' : 'display: flex'">
  <div id="tutorial" v-if="isModalShown">
    <div class="tutorial-modal-container">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-container">
                <div class="modal-body">
                  <div class="tutorial">
                    <div>
                      <button v-if="isSkipShown" class="primary-btn skip" @click="handleRedirect">Skip</button>
                    </div>
                    <video-js
                      id="video-player"
                      class="teaser video-js vjs-fluid vjs-default-skin vjs-big-play-centered vjs-controls-enabled"
                      playsinline
                      crossorigin="anonymous"
                    >
                      <source src="../assets/WinstonVR_Teaser720_ver2.mp4" type="video/mp4" />
                    </video-js>
                    <div class="footer-container">
                      <Footer class="home--footer" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div v-if="isStarterShown">
  <div id="starter" v-if="isModalShown">
    <img class="starter-logo" src="./../assets/images/checklist-logo.png" alt="winston" />
    <div class="pack-cont">
        <img class="pack" src="./../assets/images/pack.png" alt="winston" />
      </div>
    <div class="starter-cont">
      
      <div class="starter-right">
        <img class="random-pics" src="./../assets/images/random-pics.png" alt="winston" />
      </div>
      <div class="starter-text">
        <h1 class="starter-title">Welcome, Jetsetter!</h1>
        <p class="starter-description">Ready to start your own adventure? Here’s how to do it!</p>
        <button @click="handlePlay" class="ok-btn starter-watch-btn"> watch the tutorial</button>
        <router-link :to="{ path: 'login' }">
        <button class="ok-btn starter-start-btn">start game</button>
        </router-link>
      </div>
    </div>
    <TermsAndConditions class="starter-tnc"/>
  </div>
  </div>
</template>

<script>
import { onBeforeUnmount, onMounted, ref, onUpdated } from 'vue';
import Footer from '../../src/components/Footer.vue';
import videojs from 'video.js';
import { TIMER } from './../shared/constants/timer';

import { useRouter } from 'vue-router';

export default {
  name: 'Tutorial',
  components: {
    Footer,
  },
  methods: {
    handlePlay() {
        videojs('video-player').play();
        videojs('video-player').volume(1);
        this.isStarterShown = false
    },
  },
  setup() {
    const isSkipShown = ref(false);
    const isStarterShown = ref(true);
    const isModalShown = ref(true);
    const videoRef = ref(null);
    const router = useRouter();

    const handleRedirect = () => {
      router.push({
        name: 'Login',
      });
    };

    onMounted(() => {
      let player = ref(null);
      player.value = videojs('video-player');
      // player.value.ready(function () {
      //   player.value.play();
      //   player.value.volume(1);
      // });
      player.value.on('timeupdate', () => {
        const time = Math.floor(player.value.currentTime());
        if (time >= TIMER.SKIP_BUTTON_TIME) {
          isSkipShown.value = true;
        }
      });
      player.value.on('ended', handleRedirect);
      onUpdated(async () => {
        console.log();
        if (player.value instanceof HTMLVideoElement) {
          player.value = videojs('video-player');
        }
      });
      onBeforeUnmount(() => {
        player.value.dispose();
      });
    });

    return {
      isSkipShown,
      isModalShown,
      videoRef,
      handleRedirect,
      isStarterShown
    };
  },
};
</script>

<style lang="scss">
</style>
