<template>
  <div class="location-container">
    <div class="location-pics">
      <div class="location-pics-container">
        <img class="first-location-pic" :src="midPic" />
        <img class="second-location-pic" :src="leftPic" />
        <img class="third-location-pic" :src="rightPic" />
      </div>
    </div>
    <div class="location-details">
      <div class="location-description">
        <div class="location-description__subtitle">
          <div class="location-description__subtitle-container">
            <img class="location-icon-pin" src="../assets/images/pin.png" />
            <p class="location-description__subtitle-text">Places</p>
          </div>

          <div class="location-description__subtitle-container">
            <img class="location-icon-addon" src="../assets/images/addon-activities.png" />
            <p class="location-description__subtitle-text">Activities</p>
          </div>
        </div>
        <div class="location-description__num">
          <p class="location-description__num-text">{{ totalLocationsVisited || 0 }}/{{ totalLocations || 0 }}</p>
          <p class="location-description__num-text activities-num">
            {{ totalUserActivities || 0 }} / {{ totalActivities || 0 }}
          </p>
        </div>
      </div>
    </div>
    <div class="location-raffle">
      <div class="location-raffle-container">
        <p class="location-raffle__text">Raffle entries:</p>
        <div class="location-raffle__quantity">
          <img class="raffle-icon-sun" src="../assets/images/sun.png" />
          <p class="location-raffle__num">{{ sunNum || 0 }}</p>
        </div>
        <div class="location-raffle__quantity">
          <img class="raffle-icon-moon" src="../assets/images/moon.png" />
          <p class="location-raffle__num">{{ moonNum || 0 }}</p>
        </div>
      </div>
    </div>
    <button class="unlocked-city-btn" @click="changeSaveLocation">
      <div class="play-again-btn">
        <p>{{ locationBtnText }}</p>
        <img v-if="locationBtnText == 'PLAY AGAIN'" class="play-again" src="../assets/images/play-again.png" />
      </div>
    </button>
  </div>
</template>

<script>
import { userCurrentCityService } from '@/services/userCurrentCityService';
import { useRouter } from 'vue-router';
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
export default {
  name: 'UnlockedCity',

  props: [
    'locationBtnText',
    'placesNum',
    'activitiesNum',
    'sunNum',
    'moonNum',
    'leftPic',
    'midPic',
    'rightPic',
    'modal',
    'totalLocations',
    'totalLocationsVisited',
    'totalActivities',
    'totalUserActivities',
    'city',
  ],
  setup(props) {
    const store = useStore();
    const router = useRouter();
    const city = computed(() => props.city);
    const userCurrentLocation = computed(() => store.state['user'].userCurrentLocation);
    const changeSaveLocation = async () => {
      await userCurrentCityService.changeUserCurrentCity({ city_id: city?.value?.id });
      await store.dispatch('changeUserSavedLocation', {
        city_id: city?.value?.id,
      });
      await store.dispatch('getUser');
      await store.dispatch('getUserEntries');
      await store.dispatch('getLocations', {
        id: userCurrentLocation.value.location_id,
      });

      router.push({
        name: 'LocationVideo',
      });
    };

    const pausedModal = ref(false);
    const entryModal = ref(false);
    return {
      pausedModal,
      entryModal,
      changeSaveLocation,
    };
  },
  methods: {
    showModal() {
      if (this.modal === 'pausedModal') {
        this.pausedModal = !this.pausedModal;
      } else if (this.modal === 'entryModal') {
        this.entryModal = !this.entryModal;
      }
    },
  },
};
</script>

<style scoped>
.location-container {
  margin-top: 45px;
  background: #40b4e5;
  border-radius: 22px;
  width: 100%;
  height: fit-content;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-pics {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -60px;
  z-index: 99;
}

.location-pics-container {
  position: relative;
  margin-bottom: 5px;
}

.second-location-pic {
  position: absolute;
  left: -30px;
  z-index: -1;
  top: 20px;
  width: 65%;
}

.third-location-pic {
  position: absolute;
  right: -24px;
  z-index: -1;
  top: 17px;
  width: 65%;
}

.location-details {
  padding: 10px;
  padding-bottom: 0;
  margin-top: 15px;
  width: 80%;
}

.location-description {
  display: flex;
  flex-direction: column;
}

.location-description__subtitle-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.location-description__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-icon-pin {
  width: 8px;
  height: 10px;
  margin-top: 5px;
  margin-right: 3.25px;
}

.location-icon-addon {
  width: 7px;
  height: 12px;
  margin-top: 5px;
  margin-right: 3.25px;
}

.location-raffle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -10px;
  width: 100%;
  border: 1px solid #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.location-raffle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5px 10px 10px;
  margin: auto;
}

.raffle-icon-sun {
  margin-right: 2px;
  margin-top: 2px;
  width: 19.24px;
  height: 18.95px;
}

.raffle-icon-moon {
  margin-right: 2px;
  margin-top: 2px;
  width: 12.96px;
  height: 18.57px;
}

.location-raffle__quantity {
  display: flex;
  flex-direction: row;
}

.location-description__num {
  margin-top: -20px;
  justify-content: space-between;
  padding: 0 8px;
}

.activities-num {
  margin-right: 10px;
}

.location-raffle__num,
.location-description__num {
  font-size: 13px;
  font-family: 'WinstonMedium';
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

.location-raffle__text,
.location-description__subtitle-text {
  font-size: 13px;
  font-family: 'WinstonThin';
  font-weight: 400;
}

.first-location-pic {
  width: 80%;
}
</style>
