<template>
  <div id="video">
    <div class="videojs-vr">
      <svg
        v-if="isPauseShown"
        @click="togglePause"
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-pause-fill pause-btn"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"
        />
      </svg>
      <h1 class="remaining-time" style="text-shadow: -1px -1px 0 #808080">
        {{ remainingTime ? (remainingTime > 0 ? remainingTime : '') : '' }}
      </h1>
      <video
        id="videojs-vr-player"
        class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered vjs-controls-enabled"
        controls="false"
        autoplay
        playsinline
        crossorigin="anonymous"
      >
        <source :src="video" type="video/mp4" />
      </video>
    </div>
  </div>
</template>

<script>
import videojs from 'video.js';
import { ref, onMounted, watch, onBeforeUnmount } from 'vue';
import 'videojs-vr';

export default {
  name: 'Video',
  components: {},
  props: {
    video: String,
    updateTime1: {
      type: Number,
      default: 5,
    },
    updateTime2: {
      type: Number,
      default: 17,
    },
    isVideoPlaying: Boolean,
  },
  emits: ['eventTimeUpdate1', 'eventTimeUpdate2', 'eventOnVideoEnd', 'eventOnVideoPause', 'openPausedModal'],
  setup(props, { emit }) {
    const isUpdate1Emitted = ref(false);
    const isUpdate2Emitted = ref(false);
    const videoRef = ref(null);
    const remainingTime = ref(0);
    const isPaused = ref(false);
    const isPauseShown = ref(true);

    const togglePause = () => {
      videojs('videojs-vr-player').pause();
      emit('openPausedModal');
    };

    onMounted(() => {
      remainingTime.value = 1;

      const player = videojs('videojs-vr-player', {
        controlBar: {
          muteToggle: false,
          fullscreenToggle: false,
          pictureInPictureToggle: false,
          playToggle: false,
          volumePanel: false,
          remainingTimeDisplay: false,
          progressControl: {
            seekBar: false,
          },
        },
      });

      player.vr({ projection: '360' });

      videojs('videojs-vr-player').ready(async function () {
        await this.play();
      });

      player.on('timeupdate', () => {
        remainingTime.value = Math.floor(player.remainingTime());
      });
      player.on('play', () => {
        player.volume(1);
        isPauseShown.value = true;
      });
      player.on('pause', () => {
        emit('eventOnVideoPause');
        isPauseShown.value = false;
      });

      player.on('ended', () => {
        emit('eventOnVideoEnd');
      });

      watch(
        () => props.video,
        (first) => {
          player.src({ type: 'video/mp4', src: first });
          videojs('videojs-vr-player').ready(function () {
            this.play();
          });
          isUpdate1Emitted.value = false;
          isUpdate2Emitted.value = false;
        },
      );

      watch(
        () => props.isVideoPlaying,
        (isPlaying) => {
          if (isPlaying) {
            videojs('videojs-vr-player').ready(function () {
              this.play();
            });
          }
        },
      );

      onBeforeUnmount(() => {
        player.dispose();
      });
    });
    // const togglePause = () => {
    //   this.isPaused ? this.player.play() : this.player.pause();
    // };
    return {
      // togglePause,
      isPaused,
      isUpdate1Emitted,
      isUpdate2Emitted,
      videoRef,
      remainingTime,
      togglePause,
      isPauseShown,
    };
  },
};
</script>

<style lang="scss">
#videojs-vr-player {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  // min-height: 100%;
}
.remaining-time {
  position: absolute;
  right: 2%;
  top: 16%;
  z-index: 999999999;
  color: #fff;
}
.pause-btn {
  position: absolute;
  right: 1%;
  top: 28%;
  z-index: 999999999;
  color: #fff;
}

path {
  stroke: #808080;
  stroke-width: 0.5px;
  stroke-linejoin: round;
}
</style>
