<template>
  <div id="welcome-banner" class="landscape">
    <div
      class="welcomeBanner"
      :style="{
        'background-image': `url(${getCityBanners.banner_background_url})`,
      }"
    >
      <div class="welcomeBanner__banner">
        <img :src="getCityBanners.banner_url" alt="" />
        <button
          v-if="true"
          @click="closeWelcomeBanner"
          class="primary-btn"
          :class="[city?.name?.toLowerCase() === 'seoul' ? 'primary-btn--seoul' : '']"
          :style="[city?.name?.toLowerCase() === 'paris' ? 'border: 0; margin: 0; margin-bottom: 5.5%; margin-left: 3%' : 'new york' ? 'margin-bottom: -2%' : '']"
        >
          LET'S GO
        </button>
      </div>

      <footer>
        <div style="display: flex; justify-content: space-between; background: #fff">
          <div class="terms--conditions__link">
            <a href="https://d25t099rafe8rp.cloudfront.net/terms-and-conditions">Terms and Conditions</a>
            <span>|</span>
            <a href="https://d25t099rafe8rp.cloudfront.net/privacy-policy">Privacy Policy</a>
          </div>
          <p>JT International (Philippines), Inc.</p>
        </div>
        <div class="ghw">GOVERNMENT WARNING: CIGARETTE SMOKING IS DANGEROUS TO YOUR HEALTH.</div>
      </footer>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { ref } from 'vue';
export default {
  props: ['city'],
  setup(props, { emit }) {
    const isButtonShown = ref(false);

    setTimeout(() => (isButtonShown.value = true), 5000);
    const getCityBanners = computed(() => props?.city?.city_banners[0]);
    const closeWelcomeBanner = () => {
      emit('closeWelcomeBanner');
    };
    const getImageBanner = require('./../assets/images/title-card__paris.png');
    const getBannerBackground = require('./../assets/images/activity--banner.png');

    return {
      closeWelcomeBanner,
      getCityBanners,
      getImageBanner,
      getBannerBackground,
      isButtonShown,
    };
  },
};
</script>

<style scoped lang="scss">
.container-fluid {
  padding: 0 !important;
}
.welcomeBanner {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  display: grid;
  place-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__banner {
    position: relative;
    height: 40%;
    width: 55%;
    margin-bottom: 3rem !important;
    img {
      height: 100%;
      width: 100%;
    }
    @media (min-width: 576px) {
      /* padding: 20vh 30vh; */
      margin-bottom: 0;
    }
    .primary-btn,
    .primary-btn--seoul {
      z-index: 9999;
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  footer {
    padding: 0;
    background-color: none;
    z-index: 1;
    width: 100%;
    /* padding: 2rem; */
    position: absolute;
    height: auto !important;
    bottom: 0;
    .ghw {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      background: #000;
      width: 100vw;
      padding: 5vh;
      color: #fff;
      text-align: center;
    }
    p,
    h6 {
      color: #808080;
    }
  }
}
</style>
