<template>
  <!-- <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </div> -->
  <transition name="fade">
    <div class="loader" v-if="isLoading">
      <div class="loader-cont">
        <div class="loader-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </transition>
  <div
    id="app"
    :class="[$route.path === '/microsite' || $route.path === '/login' ? 'overflow-auto' : 'overflow-hidden']"
  >
    <router-view />
  </div>
  <div v-if="$route.path !== '/microsite' && $route.path !== '/login'" class="reminder">
    <img src="./assets/images/checklist-logo.png" class="portrait-logo" />
    <img class="tilt-gif" src="./assets/images/tilt-phone.gif" />
    <p>Tilt your phone to have the best experience!</p>
    <div class="footer-container" style="position: fixed; top: 87%">
      <TermsAndConditions />
    </div>
  </div>
  <Footer
    v-if="$route.path !== '/microsite' && $route.path !== '/location-video' && $route.path !== '/login'"
    :class="[
      getPathName() === '/profile' ||
      getPathName() === '/faq' ||
      getPathName() === '/home' ||
      getPathName() === '/winners' ||
      getPathName() === '/activities'
        ? 'home--footer'
        : '',
    ]"
  ></Footer>
</template>

<script>
import Footer from '../src/components/Footer.vue';
import TermsAndConditions from '../src/components/TermsAndConditions.vue';
export default {
  name: 'App',
  components: {
    Footer,
    TermsAndConditions,
  },
  data() {
    return {
      isLoading: true,
    };
  },
  mounted() {
    setTimeout(() => {
      this.isLoading = false;
    }, 800);
  },
  methods: {
    getPathName() {
      return window.location.pathname;
    },
  },
};
</script>
<style lang="scss">
@import '@/assets/scss/style.scss';
.tilt-gif {
  width: 40%;
}

.reminder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 18px;
  color: #133163;
  background-image: url('./assets/images/portrait-bg.png');
  overflow: hidden;
}

.portrait-logo {
  top: 4%;
  left: 5%;
  position: absolute;
}

@media (orientation: portrait) {
  #home,
  #profile,
  #faq,
  #winners,
  #location-video,
  #landingpage, #starter {
    display: none;
  }
}
@media (orientation: portrait) {
  .reminder {
    display: flex;
  }
}

@media (orientation: landscape) {
  .reminder {
    display: none;
  }
}

@media (orientation: landscape) {
  #app {
    max-height: 100vh;
    overflow: hidden;
  }
}
</style>
